# The data can be found in this link:

https://www.kaggle.com/jsche4/open-data-500-companies

In [729]:
# import numerical libraries
import numpy as np   

# import preprocessing imputer (to replace missing values)
from sklearn.preprocessing import Imputer

# to handle data in form of rows and columns 
import pandas as pd    

# import ploting libraries
import matplotlib.pyplot as plt   

# draw the charts here as part of the notebook 
%matplotlib inline

# import for statistical plots
import seaborn as sns

## Load data

The data can be downloaded here: https://www.kaggle.com/jsche4/open-data-500-companies

In [730]:
# data csv file contained in the same folder as the project
datafn = 'us_companies.csv'

df = pd.read_csv(datafn, na_values = ['?'], header = None)

# check first five rows of the dataset
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,company_category,revenue_source,business_model
1,"3 Round Stones, Inc.",http://3RoundStones.com,2010,Washington,DC,us,20004,10-Jan,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Consumer"
2,48 Factoring Inc.,https://www.48factoring.com,2014,Philadelphia,PA,us,19087,51-200,Private,Finance & Investment,Financial Services,Business to Business
3,5PSolutions,www.5psolutions.com,2007,Fairfax,VA,us,22003,10-Jan,Private,Data/Technology,"Subscriptions, User fees for web or mobile access","Business to Business, Business to Consumer, Bu..."
4,Abt Associates,abtassoc.com,1965,Cambridge,MA,us,2138,"1,001-5,000",Private,Research & Consulting,"Data analysis for clients, Database licensing",NaN

### Each element in the first row of the dataset should be the name of each column

In [731]:
# setting the elements in the first row as column names
df.columns = df.iloc[0]

# dropping the first row since now we have the correct column names
df.drop(axis = 0, index = 0, inplace = True)

# check first five rows
df.head()

,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,company_category,revenue_source,business_model
1,"3 Round Stones, Inc.",http://3RoundStones.com,2010,Washington,DC,us,20004,10-Jan,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Consumer"
2,48 Factoring Inc.,https://www.48factoring.com,2014,Philadelphia,PA,us,19087,51-200,Private,Finance & Investment,Financial Services,Business to Business
3,5PSolutions,www.5psolutions.com,2007,Fairfax,VA,us,22003,10-Jan,Private,Data/Technology,"Subscriptions, User fees for web or mobile access","Business to Business, Business to Consumer, Bu..."
4,Abt Associates,abtassoc.com,1965,Cambridge,MA,us,2138,"1,001-5,000",Private,Research & Consulting,"Data analysis for clients, Database licensing",NaN
5,Accela,http://www.accela.com,1999,San Ramon,CA,us,94583,"501-1,000",Private,Governance,Not reported by company,Business to Consumer

### Reset first row index as 0 instead of 1

In [732]:
# Use reset_index()
df.reset_index(drop = True, inplace = True)
df.head()

,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,company_category,revenue_source,business_model
0,"3 Round Stones, Inc.",http://3RoundStones.com,2010,Washington,DC,us,20004,10-Jan,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Consumer"
1,48 Factoring Inc.,https://www.48factoring.com,2014,Philadelphia,PA,us,19087,51-200,Private,Finance & Investment,Financial Services,Business to Business
2,5PSolutions,www.5psolutions.com,2007,Fairfax,VA,us,22003,10-Jan,Private,Data/Technology,"Subscriptions, User fees for web or mobile access","Business to Business, Business to Consumer, Bu..."
3,Abt Associates,abtassoc.com,1965,Cambridge,MA,us,2138,"1,001-5,000",Private,Research & Consulting,"Data analysis for clients, Database licensing",NaN
4,Accela,http://www.accela.com,1999,San Ramon,CA,us,94583,"501-1,000",Private,Governance,Not reported by company,Business to Consumer

In [733]:
# Examine Data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529 entries, 0 to 528
Data columns (total 12 columns):
company_name           529 non-null object
url                    529 non-null object
year_founded           528 non-null object
city                   496 non-null object
state                  529 non-null object
country                529 non-null object
zip_code               492 non-null object
full_time_employees    500 non-null object
company_type           513 non-null object
company_category       526 non-null object
revenue_source         519 non-null object
business_model         453 non-null object
dtypes: object(12)
memory usage: 49.7+ KB

### We do not need to know about the zip code, and country for the companies, so we drop these two columns.
### We will keep the url column to use later when we handle missing values and need to look up the company online.

In [734]:
# drop url, zip_code
df.drop(['zip_code', 'country'], axis = 1, inplace = True)

In [735]:
df.columns

Index(['company_name', 'url', 'year_founded', 'city', 'state',
       'full_time_employees', 'company_type', 'company_category',
       'revenue_source', 'business_model'],
      dtype='object', name=0)

In [736]:
# descriptive statistics
df.describe()

,company_name,url,year_founded,city,state,full_time_employees,company_type,company_category,revenue_source,business_model
count,529,529,528,496,529,500,513,526,519,453
unique,529,528,95,202,39,8,9,20,100,27
top,BaleFire Global,www.careset.com,2011,New York,CA,10-Jan,Private,Data/Technology,Not reported by company,Business to Business
freq,1,2,51,83,132,143,396,97,284,172

### We can obviously see there are values missing and some string values that should be numerical, so we will have to handle those

In [737]:
# check data types
df.dtypes

0
company_name           object
url                    object
year_founded           object
city                   object
state                  object
full_time_employees    object
company_type           object
company_category       object
revenue_source         object
business_model         object
dtype: object

In [738]:
df

,company_name,url,year_founded,city,state,full_time_employees,company_type,company_category,revenue_source,business_model
0,"3 Round Stones, Inc.",http://3RoundStones.com,2010,Washington,DC,10-Jan,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Consumer"
1,48 Factoring Inc.,https://www.48factoring.com,2014,Philadelphia,PA,51-200,Private,Finance & Investment,Financial Services,Business to Business
2,5PSolutions,www.5psolutions.com,2007,Fairfax,VA,10-Jan,Private,Data/Technology,"Subscriptions, User fees for web or mobile access","Business to Business, Business to Consumer, Bu..."
3,Abt Associates,abtassoc.com,1965,Cambridge,MA,"1,001-5,000",Private,Research & Consulting,"Data analysis for clients, Database licensing",NaN
4,Accela,http://www.accela.com,1999,San Ramon,CA,"501-1,000",Private,Governance,Not reported by company,Business to Consumer
5,Accenture,http://www.accenture.com/us-en/pages/index.aspx,1989,Chicago,IL,"10,001+",Public,NaN,Not reported by company,Business to Business
6,AccuWeather,http://www.accuweather.com,1962,State College,PA,201-500,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu..."
7,Acxiom,http://acxiom.com,1969,Little Rock,AR,"5,001-10,000",Public,Data/Technology,Not reported by company,Business to Business
8,Adaptive,http://www.adaptive.com,2001,Irvine,CA,Nov-50,Private,Business & Legal Services,Not reported by company,Business to Business
9,Adobe Digital Government,http://www.adobe.com/solutions/government.html,2009,San Jose,CA,"10,001+",Public,Data/Technology,Not reported by company,Business to Government
10,Aidin,http://www.myAidin.com,2011,New York,NY,10-Jan,Private,Healthcare,Not reported by company,"Business to Business, Business to Consumer"
11,Alarm.com,www.alarm.com,2000,Leesburg Pike Vienna,VA,201-500,Private,Lifestyle & Consumer,NaN,Business to Consumer
12,Allianz,http://www.allianzusa.com,1896,New York,NY,"10,001+",Public,Finance & Investment,Not reported by company,Business to Consumer
13,Allied Van Lines,http://www.allied.com,1928,Oakbrook Terrace,IL,"5,001-10,000",Private,Transportation,Not reported by company,"Business to Business, Business to Consumer, Bu..."
14,AllState Insurance Group,http://www.allstate.com,1931,Northbrook,IL,"10,001+",Public,Insurance,Not reported by company,Business to Consumer
15,Alltuition,https://www.alltuition.com,2009,Chicago,IL,10-Jan,Private,Education,Not reported by company,Business to Consumer
16,Altova,http://www.altova.com,1992,Beverly,MA,51-200,Private,Data/Technology,Not reported by company,Business to Business
17,Amazon Web Services,http://aws.amazon.com,2007,Seattle,WA,NaN,Public,Data/Technology,Not reported by company,NaN
18,American Red Ball Movers,http://www.redball.com,1919,Indianapolis,IN,Nov-50,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer"
19,Amida Technology Solutions,http://amida-tech.com/index.html,2013,Washington,DC,10-Jan,Private,Healthcare,Not reported by company,"Business to Business, Business to Consumer"
20,Analytica,http://www.analytica.net/,2007,Washington DC,DC,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Government"
21,Apextech LLC,apextechllc.com,2003,Arlington,VA,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing",Business to Government
22,Appallicious,appallicious.com,2010,San Francisco,CA,Nov-50,Private,Data/Technology,Software licensing,Business to Government
23,Aquicore,http://www.aquicore.com/,2010,NaN,DC,10-Jan,Private,Energy,NaN,Business to Business
24,Archimedes Inc.,http://archimedesmodel.com/,2006,San Francisco,CA,Nov-50,Private,Healthcare,Software licensing,"Business to Business, Business to Government, ..."
25,AreaVibes Inc.,http://www.areavibes.com/,2009,NaN,NY,10-Jan,Private,Data/Technology,not reported by company,Business to Consumer
26,Arpin Van Lines,http://www.arpin.com,1900,West Warwick,RI,201-500,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer, Bu..."
27,Arrive Labs,http://home.downloadarrive.com,2011,San Francisco,CA,10-Jan,Private,Transportation,Not reported by company,NaN
28,ASC Partners,http://www.asc-partners.com,2010,Boston,MA,10-Jan,partnership,Business & Legal Services,Not reported by company,Business to Business
29,Asset4,asset4.com,2003,New York,NY,51-200,Private,Finance & Investment,Not reported by company,Business to Business
...,...,...,...,...,...,...,...,...,...,...
499,Walk Score,www.walkscore.com,2007,Seattle,WA,10-Jan,Private,Lifestyle & Consumer,"Advertising, Database licensing, Subscriptions","Business to Business, Business to Consumer"
500,WaterSmart Software,http://www.watersmartsoftware.com/,2009,San Francisco,CA,Nov-50,Private,Environment & Weather,"Data analysis for clients, Database licensing,...",Business to Business
501,WattzOn,http://www.wattzon.com/,2008,Mountain View,CA,Nov-50,Private,Energy,Not reported by company,"Business to Business, Business to Consumer"
502,Way Better Patents,http://waybetterpatents.com/,2012,Oakton,VA,10-Jan,Private,Business & Legal Services,"Subscriptions, Custom Reports and Analysis","Business to Business, Business to Consumer"
503,Weather Channel,http://www.weather.com/,1982,Atlanta,GA,"1,001-5,000",Public,NaN,Not reported by company,NaN
504,Weather Decision Technologies,http://www.wdtinc.com/,1999,Norman,OK,51-200,Private,Environment & Weather,Not reported by company,Business to Business
505,Weather Underground,http://www.wunderground.com/,1995,San Francisco,CA,51-200,Private,Environment & Weather,Not provided by company,"Business to Business, Business to Consumer"
506,WebFilings,https://www.webfilings.com/,2008,Ames,IA,"501-1,000",Private,Finance & Investment,Not reported by company,NaN
507,Webitects,webitects.com,1998,Chicago,IL,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Government, academia + nonprofit"
508,WebMD,http://www.webmd.com/,1996,New York,NY,"1,001-5,000",Public,Healthcare,Not reported by company,NaN
509,Weight Watchers,http://www.weightwatchers.com/,1960,Jericho,NY,"10,001+",Public,Lifestyle & Consumer,Not reported by company,NaN
510,WeMakeItSafer,http://wemakeitsafer.com/,2009,Oakland,CA,10-Jan,Private,Lifestyle & Consumer,Not reported by company,Business to Consumer
511,Wheaton World Wide Moving,http://www.wheatonworldwide.com/,1945,Indianapolis,IN,51-200,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer"
512,Whitby Group,http://www.whitbygroup.com,2001,Ithaca,NY,Nov-50,Private,Research & Consulting,Design consulting,NaN
513,Wolfram Research,http://www.wolfram.com/,1987,Champaign,IL,"501-1,000",Private,Data/Technology,Not reported by company,NaN
514,Wolters Kluwer,http://www.wolterskluwer.com/,1836,Minneapolis,MN,"10,001+",Public,Business & Legal Services,Not reported by company,NaN
515,Workhands,https://www.workhands.us/,2012,San Francisco,CA,NaN,NaN,Lifestyle & Consumer,Not reported by company,NaN
516,Xatori,http://www.xatori.com/,2010,Menlo Park,CA,10-Jan,Private,Energy,Not reported by company,NaN
517,Xcential,xcential.com,2003,Encinitas,CA,10-Jan,Private,Governance,Other,Business to Government
518,xDayta,http://www.xdayta.com,2013,Phoenix,AZ,10-Jan,Private,Data/Technology,"Lead generation to other businesses, User fees...",Business to Consumer
519,Xignite,http://www.xignite.com/,2000,San Mateo,CA,51-200,Private,Finance & Investment,Not reported by company,Business to Business
520,Yahoo,http://www.yahoo.com/,1994,Sunnyvale,CA,"10,001+",Public,Lifestyle & Consumer,Not reported by company,NaN
521,Zebu Compliance Solutions,www.zebucompliance.com,1999,Portsmouth,OH,Nov-50,Private,Healthcare,"Data analysis for clients, Database licensing,...","Business to Business, Business to Government"
522,Yelp,http://www.yelp.com/,2004,San Francisco,CA,"1,001-5,000",Public,Lifestyle & Consumer,Not reported by company,NaN
523,YourMapper,http://www.yourmapper.com,2005,Louisville,KY,10-Jan,Private,Geospatial/Mapping,"Advertising, Data analysis for clients, Databa...","Business to Business, Business to Consumer"
524,Zillow,http://www.zillow.com/,2006,Seattle,WA,"1,001-5,000",Public,Housing/Real Estate,Not reported by company,NaN
525,ZocDoc,http://www.zocdoc.com/,2007,New York,NY,"501-1,000",Private,Healthcare,Not reported by company,NaN
526,Zonability,http://www.zonability.com/,2003,Austin,TX,Nov-50,Private,Housing/Real Estate,Not reported by company,"Business to Business, Business to Government, ..."
527,Zoner,www.Zonerapp.com,2011,New York,NY,10-Jan,Private,Housing/Real Estate,Subscriptions,"Business to Business, Business to Consumer, no..."
528,Zurich Insurance (Risk Room),http://www.zurichna.com/,1912,Schaumburg,IL,"10,001+",Public,Insurance,Not reported by company,NaN

## By looking at the data there are some columns with "weird" values.

### Starting with full_time_employees column.

In [739]:
# Change column name to size
df.rename(columns = {'full_time_employees': 'size'}, inplace=True)
df

,company_name,url,year_founded,city,state,size,company_type,company_category,revenue_source,business_model
0,"3 Round Stones, Inc.",http://3RoundStones.com,2010,Washington,DC,10-Jan,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Consumer"
1,48 Factoring Inc.,https://www.48factoring.com,2014,Philadelphia,PA,51-200,Private,Finance & Investment,Financial Services,Business to Business
2,5PSolutions,www.5psolutions.com,2007,Fairfax,VA,10-Jan,Private,Data/Technology,"Subscriptions, User fees for web or mobile access","Business to Business, Business to Consumer, Bu..."
3,Abt Associates,abtassoc.com,1965,Cambridge,MA,"1,001-5,000",Private,Research & Consulting,"Data analysis for clients, Database licensing",NaN
4,Accela,http://www.accela.com,1999,San Ramon,CA,"501-1,000",Private,Governance,Not reported by company,Business to Consumer
5,Accenture,http://www.accenture.com/us-en/pages/index.aspx,1989,Chicago,IL,"10,001+",Public,NaN,Not reported by company,Business to Business
6,AccuWeather,http://www.accuweather.com,1962,State College,PA,201-500,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu..."
7,Acxiom,http://acxiom.com,1969,Little Rock,AR,"5,001-10,000",Public,Data/Technology,Not reported by company,Business to Business
8,Adaptive,http://www.adaptive.com,2001,Irvine,CA,Nov-50,Private,Business & Legal Services,Not reported by company,Business to Business
9,Adobe Digital Government,http://www.adobe.com/solutions/government.html,2009,San Jose,CA,"10,001+",Public,Data/Technology,Not reported by company,Business to Government
10,Aidin,http://www.myAidin.com,2011,New York,NY,10-Jan,Private,Healthcare,Not reported by company,"Business to Business, Business to Consumer"
11,Alarm.com,www.alarm.com,2000,Leesburg Pike Vienna,VA,201-500,Private,Lifestyle & Consumer,NaN,Business to Consumer
12,Allianz,http://www.allianzusa.com,1896,New York,NY,"10,001+",Public,Finance & Investment,Not reported by company,Business to Consumer
13,Allied Van Lines,http://www.allied.com,1928,Oakbrook Terrace,IL,"5,001-10,000",Private,Transportation,Not reported by company,"Business to Business, Business to Consumer, Bu..."
14,AllState Insurance Group,http://www.allstate.com,1931,Northbrook,IL,"10,001+",Public,Insurance,Not reported by company,Business to Consumer
15,Alltuition,https://www.alltuition.com,2009,Chicago,IL,10-Jan,Private,Education,Not reported by company,Business to Consumer
16,Altova,http://www.altova.com,1992,Beverly,MA,51-200,Private,Data/Technology,Not reported by company,Business to Business
17,Amazon Web Services,http://aws.amazon.com,2007,Seattle,WA,NaN,Public,Data/Technology,Not reported by company,NaN
18,American Red Ball Movers,http://www.redball.com,1919,Indianapolis,IN,Nov-50,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer"
19,Amida Technology Solutions,http://amida-tech.com/index.html,2013,Washington,DC,10-Jan,Private,Healthcare,Not reported by company,"Business to Business, Business to Consumer"
20,Analytica,http://www.analytica.net/,2007,Washington DC,DC,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Government"
21,Apextech LLC,apextechllc.com,2003,Arlington,VA,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing",Business to Government
22,Appallicious,appallicious.com,2010,San Francisco,CA,Nov-50,Private,Data/Technology,Software licensing,Business to Government
23,Aquicore,http://www.aquicore.com/,2010,NaN,DC,10-Jan,Private,Energy,NaN,Business to Business
24,Archimedes Inc.,http://archimedesmodel.com/,2006,San Francisco,CA,Nov-50,Private,Healthcare,Software licensing,"Business to Business, Business to Government, ..."
25,AreaVibes Inc.,http://www.areavibes.com/,2009,NaN,NY,10-Jan,Private,Data/Technology,not reported by company,Business to Consumer
26,Arpin Van Lines,http://www.arpin.com,1900,West Warwick,RI,201-500,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer, Bu..."
27,Arrive Labs,http://home.downloadarrive.com,2011,San Francisco,CA,10-Jan,Private,Transportation,Not reported by company,NaN
28,ASC Partners,http://www.asc-partners.com,2010,Boston,MA,10-Jan,partnership,Business & Legal Services,Not reported by company,Business to Business
29,Asset4,asset4.com,2003,New York,NY,51-200,Private,Finance & Investment,Not reported by company,Business to Business
...,...,...,...,...,...,...,...,...,...,...
499,Walk Score,www.walkscore.com,2007,Seattle,WA,10-Jan,Private,Lifestyle & Consumer,"Advertising, Database licensing, Subscriptions","Business to Business, Business to Consumer"
500,WaterSmart Software,http://www.watersmartsoftware.com/,2009,San Francisco,CA,Nov-50,Private,Environment & Weather,"Data analysis for clients, Database licensing,...",Business to Business
501,WattzOn,http://www.wattzon.com/,2008,Mountain View,CA,Nov-50,Private,Energy,Not reported by company,"Business to Business, Business to Consumer"
502,Way Better Patents,http://waybetterpatents.com/,2012,Oakton,VA,10-Jan,Private,Business & Legal Services,"Subscriptions, Custom Reports and Analysis","Business to Business, Business to Consumer"
503,Weather Channel,http://www.weather.com/,1982,Atlanta,GA,"1,001-5,000",Public,NaN,Not reported by company,NaN
504,Weather Decision Technologies,http://www.wdtinc.com/,1999,Norman,OK,51-200,Private,Environment & Weather,Not reported by company,Business to Business
505,Weather Underground,http://www.wunderground.com/,1995,San Francisco,CA,51-200,Private,Environment & Weather,Not provided by company,"Business to Business, Business to Consumer"
506,WebFilings,https://www.webfilings.com/,2008,Ames,IA,"501-1,000",Private,Finance & Investment,Not reported by company,NaN
507,Webitects,webitects.com,1998,Chicago,IL,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Government, academia + nonprofit"
508,WebMD,http://www.webmd.com/,1996,New York,NY,"1,001-5,000",Public,Healthcare,Not reported by company,NaN
509,Weight Watchers,http://www.weightwatchers.com/,1960,Jericho,NY,"10,001+",Public,Lifestyle & Consumer,Not reported by company,NaN
510,WeMakeItSafer,http://wemakeitsafer.com/,2009,Oakland,CA,10-Jan,Private,Lifestyle & Consumer,Not reported by company,Business to Consumer
511,Wheaton World Wide Moving,http://www.wheatonworldwide.com/,1945,Indianapolis,IN,51-200,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer"
512,Whitby Group,http://www.whitbygroup.com,2001,Ithaca,NY,Nov-50,Private,Research & Consulting,Design consulting,NaN
513,Wolfram Research,http://www.wolfram.com/,1987,Champaign,IL,"501-1,000",Private,Data/Technology,Not reported by company,NaN
514,Wolters Kluwer,http://www.wolterskluwer.com/,1836,Minneapolis,MN,"10,001+",Public,Business & Legal Services,Not reported by company,NaN
515,Workhands,https://www.workhands.us/,2012,San Francisco,CA,NaN,NaN,Lifestyle & Consumer,Not reported by company,NaN
516,Xatori,http://www.xatori.com/,2010,Menlo Park,CA,10-Jan,Private,Energy,Not reported by company,NaN
517,Xcential,xcential.com,2003,Encinitas,CA,10-Jan,Private,Governance,Other,Business to Government
518,xDayta,http://www.xdayta.com,2013,Phoenix,AZ,10-Jan,Private,Data/Technology,"Lead generation to other businesses, User fees...",Business to Consumer
519,Xignite,http://www.xignite.com/,2000,San Mateo,CA,51-200,Private,Finance & Investment,Not reported by company,Business to Business
520,Yahoo,http://www.yahoo.com/,1994,Sunnyvale,CA,"10,001+",Public,Lifestyle & Consumer,Not reported by company,NaN
521,Zebu Compliance Solutions,www.zebucompliance.com,1999,Portsmouth,OH,Nov-50,Private,Healthcare,"Data analysis for clients, Database licensing,...","Business to Business, Business to Government"
522,Yelp,http://www.yelp.com/,2004,San Francisco,CA,"1,001-5,000",Public,Lifestyle & Consumer,Not reported by company,NaN
523,YourMapper,http://www.yourmapper.com,2005,Louisville,KY,10-Jan,Private,Geospatial/Mapping,"Advertising, Data analysis for clients, Databa...","Business to Business, Business to Consumer"
524,Zillow,http://www.zillow.com/,2006,Seattle,WA,"1,001-5,000",Public,Housing/Real Estate,Not reported by company,NaN
525,ZocDoc,http://www.zocdoc.com/,2007,New York,NY,"501-1,000",Private,Healthcare,Not reported by company,NaN
526,Zonability,http://www.zonability.com/,2003,Austin,TX,Nov-50,Private,Housing/Real Estate,Not reported by company,"Business to Business, Business to Government, ..."
527,Zoner,www.Zonerapp.com,2011,New York,NY,10-Jan,Private,Housing/Real Estate,Subscriptions,"Business to Business, Business to Consumer, no..."
528,Zurich Insurance (Risk Room),http://www.zurichna.com/,1912,Schaumburg,IL,"10,001+",Public,Insurance,Not reported by company,NaN

In [740]:
df['size'].value_counts()

10-Jan          143
Nov-50          115
51-200           93
10,001+          56
1,001-5,000      30
201-500          25
501-1,000        22
5,001-10,000     16
Name: size, dtype: int64

### Fixing full_time_employees values.

In [741]:
# listing what companies have '10-Jan'
df[df['size'] == '10-Jan']

,company_name,url,year_founded,city,state,size,company_type,company_category,revenue_source,business_model
0,"3 Round Stones, Inc.",http://3RoundStones.com,2010,Washington,DC,10-Jan,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Consumer"
2,5PSolutions,www.5psolutions.com,2007,Fairfax,VA,10-Jan,Private,Data/Technology,"Subscriptions, User fees for web or mobile access","Business to Business, Business to Consumer, Bu..."
10,Aidin,http://www.myAidin.com,2011,New York,NY,10-Jan,Private,Healthcare,Not reported by company,"Business to Business, Business to Consumer"
15,Alltuition,https://www.alltuition.com,2009,Chicago,IL,10-Jan,Private,Education,Not reported by company,Business to Consumer
19,Amida Technology Solutions,http://amida-tech.com/index.html,2013,Washington,DC,10-Jan,Private,Healthcare,Not reported by company,"Business to Business, Business to Consumer"
23,Aquicore,http://www.aquicore.com/,2010,NaN,DC,10-Jan,Private,Energy,NaN,Business to Business
25,AreaVibes Inc.,http://www.areavibes.com/,2009,NaN,NY,10-Jan,Private,Data/Technology,not reported by company,Business to Consumer
27,Arrive Labs,http://home.downloadarrive.com,2011,San Francisco,CA,10-Jan,Private,Transportation,Not reported by company,NaN
28,ASC Partners,http://www.asc-partners.com,2010,Boston,MA,10-Jan,partnership,Business & Legal Services,Not reported by company,Business to Business
39,BaleFire Global,http://balefireglobal.com,2014,Raleigh,NC,10-Jan,Private,Data/Technology,"Data analysis for clients, Database licensing,...",Business to Government
43,Berkery Noyes MandASoft,https://mandasoft.com/,2009,New York,NY,10-Jan,Private,Finance & Investment,Not reported by company,"Business to Business, Business to Consumer"
58,Buildingeye,http://www.buildingeye.com,2011,Palo Alto,CA,10-Jan,Public,Housing/Real Estate,Not reported by company,Business to Consumer
62,"Calcbench, Inc.",calcbench.com,2012,New York,NY,10-Jan,Private,Finance & Investment,"Data analysis for clients, Database licensing,...","Business to Business, Business to Consumer,"
69,Captricity,captricity.com,2011,Berkeley,CA,10-Jan,Private,Data/Technology,"Subscriptions, User fees for web or mobile acc...","Business to Business, Business to Consumer"
70,CareSet Systems,www.careset.com,2013,Houston,TX,10-Jan,Private,Data/Technology,"Data analysis for clients, Software licensing,...",Business to Business
71,Careset.com,www.careset.com,2013,Houston,TX,10-Jan,Private,Data/Technology,"Data analysis for clients, Software licensing",Business to Business
74,Castle Biosciences,http://www.castlebiosciences.com,2008,Friendswood,TX,10-Jan,Private,Scientific Research,Not reported by company,Business to Consumer
87,CityScan,www.CityScan.com,2011,Chicago,IL,10-Jan,Private,Geospatial/Mapping,"Data analysis for clients, Database licensing","Business to Business, Business to Government"
89,Civic Impulse LLC,https://www.govtrack.us/civicimpulse,2009,Washington,DC,10-Jan,Private,Governance,Advertising,"Business to Consumer, Business to Government"
90,Civic Insight,http://civicinsight.com,2012,San Francisco,CA,10-Jan,Private,Housing/Real Estate,"Data analysis for clients, Database licensing","Business to Business, Business to Consumer, Bu..."
91,Civinomics,civinomics.com,2011,Santa Cruz,CA,10-Jan,Private,Governance,Lead generation to other businesses,"Business to Consumer, Business to Government"
94,ClearHealthCosts,clearhealthcosts.com,2011,New York City,NY,10-Jan,Public,Healthcare,"Advertising, Data analysis for clients, Databa...",NaN
97,CliniCast,http://clinicast.net/,2011,Millbrae,CA,10-Jan,Private,Healthcare,"Data analysis for clients, Database licensing,...",Business to Business
99,Cloudspyre,http://www.cloudspyre.com,2010,Bristow,VA,10-Jan,Private,Lifestyle & Consumer,"Consulting, App Sales",Business to Business
102,Collective IP,www.collectiveip.com,2011,Denver,CO,10-Jan,Private,"Data/Technology,",Software licensing,Business to Business
105,Compared Care,comparedcare.com,2014,Baltimore,MD,10-Jan,Private,Healthcare,"Advertising, Lead generation to other business...",Business to Consumer
109,CONNECT-DOT LLC.,http://conndot.com,2014,Fair Lawn,NJ,10-Jan,Private,Lifestyle & Consumer,"Consulting, Data analysis for clients, Lead ge...","Business to Consumer, Business to Government"
114,CoolClimate,http://coolclimate.berkeley.edu,2007,Berkeley,CA,10-Jan,Nonprofit,Environment & Weather,"Data analysis for clients, Database licensing,...","Business to Business, Business to Consumer, Bu..."
123,DataMade,http://datamade.us,2012,Chicago,IL,10-Jan,Private,Governance,Philanthropic grants,Business to Government
126,DataWeave,www.dataweave.com,2011,New York,NY,10-Jan,Private,Data/Technology,not reported by company,Business to Business
...,...,...,...,...,...,...,...,...,...,...
431,Solar Census,http://www.solarcensus.com,2006,NaN,CA,10-Jan,Private,Energy,NaN,Business to Business
432,SolarList,solarlist.com,2013,Brooklyn,NY,10-Jan,Private,Energy,Lead generation to other businesses,NaN
433,Sophic Systems Alliance,http://www.sophicalliance.com,1993,East Falmouth,MA,10-Jan,Private,Scientific Research,Not reported by company,"Business to Business, Business to Government, ..."
436,SpeSo Health,http://www.spesohealth.com/,2013,Philadelphia,PA,10-Jan,Private,Healthcare,Not reported by company,Business to Consumer
441,SpotHero.com,http://spothero.com/,2010,Chicago,IL,10-Jan,Private,Transportation,Not reported by company,Business to Consumer
449,Stormpulse,http://stormpulse.com/,2004,Austin,TX,10-Jan,Private,Environment & Weather,Not reported by company,Business to Business
454,Symcat,http://www.symcat.com/,2011,Baltimore,MD,10-Jan,Private,Healthcare,Philanthropic grants,Business to Consumer
455,Synthicity,http://www.synthicity.com/,2012,Berkely,CA,10-Jan,Private,Housing/Real Estate,"Data analysis for clients, Database licensing","Business to Business, Business to Government"
458,TagniFi,tagnifi.com,2012,Tampa,FL,10-Jan,Private,Finance & Investment,Database licensing,Business to Business
464,The DocGraph Journal,http://docgraph.org/,2013,Houston,TX,10-Jan,Private,Healthcare,Database licensing,Business to Consumer
466,The Schork Report,schorkreport.com,2005,Villanova,PA,10-Jan,Private,Energy,Subscriptions,Business to Business
468,Think Computer Corporation,thinkcomputer.com,1998,Mountain View,CA,10-Jan,Private,Business & Legal Services,"Data analysis for clients, Database licensing,...",Business to Business
469,Thinknum,http://www.thinknum.com/,2013,New York,NY,10-Jan,Private,Finance & Investment,"Software licensing, Subscriptions",Business to Consumer
476,TrialX,http://trialx.com/,2007,New York,NY,10-Jan,Private,Healthcare,"Software licensing, Subscriptions","Business to Business, Business to Consumer, ac..."
481,TuvaLabs,https://www.tuvalabs.com/,2012,New York,NY,10-Jan,Private,Education,"Philanthropic grants, Subscriptions","Business to Business, Business to Consumer, Bu..."
484,United Mayflower,http://www.unitedmayflower.com/,2006,St. Louis,MO,10-Jan,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer"
486,"Urban Mapping, Inc",http://www.urbanmapping.com/,2006,San Francisco,CA,10-Jan,Private,Geospatial/Mapping,"Data analysis for clients, Database licensing,...",Business to Business
491,Verdafero,www.verdafero.com,2009,San Francisco,CA,10-Jan,Private,Data/Technology,"Subscriptions, Data analysis for clients, Data...",NaN
493,"VisualDoD, LLC",www.visualdod.com,2012,Reston,VA,10-Jan,Private,Aerospace and Defense,"Software licensing, Subscriptions, Advisory se...","Business to Business, Business to Government"
494,Vital Axiom | Niinja,niinja.co,2012,Chicago,IL,10-Jan,Private,Data/Technology,"Subscriptions, User fees for web or mobile access","Business to Business, Business to Government"
497,Vizzuality,vizzuality.com,2011,New York,NY,10-Jan,Private,Geospatial/Mapping,"Data analysis for clients, Database licensing,...","Business to Business, Business to Consumer, Bu..."
498,Votizen,www.votizen.com,2010,NaN,NY,10-Jan,Private,Governance,not reported by company,Business to Consumer
499,Walk Score,www.walkscore.com,2007,Seattle,WA,10-Jan,Private,Lifestyle & Consumer,"Advertising, Database licensing, Subscriptions","Business to Business, Business to Consumer"
502,Way Better Patents,http://waybetterpatents.com/,2012,Oakton,VA,10-Jan,Private,Business & Legal Services,"Subscriptions, Custom Reports and Analysis","Business to Business, Business to Consumer"
510,WeMakeItSafer,http://wemakeitsafer.com/,2009,Oakland,CA,10-Jan,Private,Lifestyle & Consumer,Not reported by company,Business to Consumer
516,Xatori,http://www.xatori.com/,2010,Menlo Park,CA,10-Jan,Private,Energy,Not reported by company,NaN
517,Xcential,xcential.com,2003,Encinitas,CA,10-Jan,Private,Governance,Other,Business to Government
518,xDayta,http://www.xdayta.com,2013,Phoenix,AZ,10-Jan,Private,Data/Technology,"Lead generation to other businesses, User fees...",Business to Consumer
523,YourMapper,http://www.yourmapper.com,2005,Louisville,KY,10-Jan,Private,Geospatial/Mapping,"Advertising, Data analysis for clients, Databa...","Business to Business, Business to Consumer"
527,Zoner,www.Zonerapp.com,2011,New York,NY,10-Jan,Private,Housing/Real Estate,Subscriptions,"Business to Business, Business to Consumer, no..."

Online research on first five companies in regards to number of employees:
    
    3 Round Stones, Inc.: 1-10
    5PSolutions: 1-10
    Aidin: 1-10
    Alltuition: 11-50
    Amida Technology Solutions: 11-50
    
The research shows results for the companies today. Therefore, the companies probably grew in size. We can safely say the value '10-Jan' meant that specific company has 1-10 employees.

In [742]:
# Changing 10-jan to 1-10
df['size'] = df['size'].replace(to_replace = '10-Jan', value = '1-10')
df

,company_name,url,year_founded,city,state,size,company_type,company_category,revenue_source,business_model
0,"3 Round Stones, Inc.",http://3RoundStones.com,2010,Washington,DC,1-10,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Consumer"
1,48 Factoring Inc.,https://www.48factoring.com,2014,Philadelphia,PA,51-200,Private,Finance & Investment,Financial Services,Business to Business
2,5PSolutions,www.5psolutions.com,2007,Fairfax,VA,1-10,Private,Data/Technology,"Subscriptions, User fees for web or mobile access","Business to Business, Business to Consumer, Bu..."
3,Abt Associates,abtassoc.com,1965,Cambridge,MA,"1,001-5,000",Private,Research & Consulting,"Data analysis for clients, Database licensing",NaN
4,Accela,http://www.accela.com,1999,San Ramon,CA,"501-1,000",Private,Governance,Not reported by company,Business to Consumer
5,Accenture,http://www.accenture.com/us-en/pages/index.aspx,1989,Chicago,IL,"10,001+",Public,NaN,Not reported by company,Business to Business
6,AccuWeather,http://www.accuweather.com,1962,State College,PA,201-500,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu..."
7,Acxiom,http://acxiom.com,1969,Little Rock,AR,"5,001-10,000",Public,Data/Technology,Not reported by company,Business to Business
8,Adaptive,http://www.adaptive.com,2001,Irvine,CA,Nov-50,Private,Business & Legal Services,Not reported by company,Business to Business
9,Adobe Digital Government,http://www.adobe.com/solutions/government.html,2009,San Jose,CA,"10,001+",Public,Data/Technology,Not reported by company,Business to Government
10,Aidin,http://www.myAidin.com,2011,New York,NY,1-10,Private,Healthcare,Not reported by company,"Business to Business, Business to Consumer"
11,Alarm.com,www.alarm.com,2000,Leesburg Pike Vienna,VA,201-500,Private,Lifestyle & Consumer,NaN,Business to Consumer
12,Allianz,http://www.allianzusa.com,1896,New York,NY,"10,001+",Public,Finance & Investment,Not reported by company,Business to Consumer
13,Allied Van Lines,http://www.allied.com,1928,Oakbrook Terrace,IL,"5,001-10,000",Private,Transportation,Not reported by company,"Business to Business, Business to Consumer, Bu..."
14,AllState Insurance Group,http://www.allstate.com,1931,Northbrook,IL,"10,001+",Public,Insurance,Not reported by company,Business to Consumer
15,Alltuition,https://www.alltuition.com,2009,Chicago,IL,1-10,Private,Education,Not reported by company,Business to Consumer
16,Altova,http://www.altova.com,1992,Beverly,MA,51-200,Private,Data/Technology,Not reported by company,Business to Business
17,Amazon Web Services,http://aws.amazon.com,2007,Seattle,WA,NaN,Public,Data/Technology,Not reported by company,NaN
18,American Red Ball Movers,http://www.redball.com,1919,Indianapolis,IN,Nov-50,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer"
19,Amida Technology Solutions,http://amida-tech.com/index.html,2013,Washington,DC,1-10,Private,Healthcare,Not reported by company,"Business to Business, Business to Consumer"
20,Analytica,http://www.analytica.net/,2007,Washington DC,DC,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Government"
21,Apextech LLC,apextechllc.com,2003,Arlington,VA,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing",Business to Government
22,Appallicious,appallicious.com,2010,San Francisco,CA,Nov-50,Private,Data/Technology,Software licensing,Business to Government
23,Aquicore,http://www.aquicore.com/,2010,NaN,DC,1-10,Private,Energy,NaN,Business to Business
24,Archimedes Inc.,http://archimedesmodel.com/,2006,San Francisco,CA,Nov-50,Private,Healthcare,Software licensing,"Business to Business, Business to Government, ..."
25,AreaVibes Inc.,http://www.areavibes.com/,2009,NaN,NY,1-10,Private,Data/Technology,not reported by company,Business to Consumer
26,Arpin Van Lines,http://www.arpin.com,1900,West Warwick,RI,201-500,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer, Bu..."
27,Arrive Labs,http://home.downloadarrive.com,2011,San Francisco,CA,1-10,Private,Transportation,Not reported by company,NaN
28,ASC Partners,http://www.asc-partners.com,2010,Boston,MA,1-10,partnership,Business & Legal Services,Not reported by company,Business to Business
29,Asset4,asset4.com,2003,New York,NY,51-200,Private,Finance & Investment,Not reported by company,Business to Business
...,...,...,...,...,...,...,...,...,...,...
499,Walk Score,www.walkscore.com,2007,Seattle,WA,1-10,Private,Lifestyle & Consumer,"Advertising, Database licensing, Subscriptions","Business to Business, Business to Consumer"
500,WaterSmart Software,http://www.watersmartsoftware.com/,2009,San Francisco,CA,Nov-50,Private,Environment & Weather,"Data analysis for clients, Database licensing,...",Business to Business
501,WattzOn,http://www.wattzon.com/,2008,Mountain View,CA,Nov-50,Private,Energy,Not reported by company,"Business to Business, Business to Consumer"
502,Way Better Patents,http://waybetterpatents.com/,2012,Oakton,VA,1-10,Private,Business & Legal Services,"Subscriptions, Custom Reports and Analysis","Business to Business, Business to Consumer"
503,Weather Channel,http://www.weather.com/,1982,Atlanta,GA,"1,001-5,000",Public,NaN,Not reported by company,NaN
504,Weather Decision Technologies,http://www.wdtinc.com/,1999,Norman,OK,51-200,Private,Environment & Weather,Not reported by company,Business to Business
505,Weather Underground,http://www.wunderground.com/,1995,San Francisco,CA,51-200,Private,Environment & Weather,Not provided by company,"Business to Business, Business to Consumer"
506,WebFilings,https://www.webfilings.com/,2008,Ames,IA,"501-1,000",Private,Finance & Investment,Not reported by company,NaN
507,Webitects,webitects.com,1998,Chicago,IL,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Government, academia + nonprofit"
508,WebMD,http://www.webmd.com/,1996,New York,NY,"1,001-5,000",Public,Healthcare,Not reported by company,NaN
509,Weight Watchers,http://www.weightwatchers.com/,1960,Jericho,NY,"10,001+",Public,Lifestyle & Consumer,Not reported by company,NaN
510,WeMakeItSafer,http://wemakeitsafer.com/,2009,Oakland,CA,1-10,Private,Lifestyle & Consumer,Not reported by company,Business to Consumer
511,Wheaton World Wide Moving,http://www.wheatonworldwide.com/,1945,Indianapolis,IN,51-200,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer"
512,Whitby Group,http://www.whitbygroup.com,2001,Ithaca,NY,Nov-50,Private,Research & Consulting,Design consulting,NaN
513,Wolfram Research,http://www.wolfram.com/,1987,Champaign,IL,"501-1,000",Private,Data/Technology,Not reported by company,NaN
514,Wolters Kluwer,http://www.wolterskluwer.com/,1836,Minneapolis,MN,"10,001+",Public,Business & Legal Services,Not reported by company,NaN
515,Workhands,https://www.workhands.us/,2012,San Francisco,CA,NaN,NaN,Lifestyle & Consumer,Not reported by company,NaN
516,Xatori,http://www.xatori.com/,2010,Menlo Park,CA,1-10,Private,Energy,Not reported by company,NaN
517,Xcential,xcential.com,2003,Encinitas,CA,1-10,Private,Governance,Other,Business to Government
518,xDayta,http://www.xdayta.com,2013,Phoenix,AZ,1-10,Private,Data/Technology,"Lead generation to other businesses, User fees...",Business to Consumer
519,Xignite,http://www.xignite.com/,2000,San Mateo,CA,51-200,Private,Finance & Investment,Not reported by company,Business to Business
520,Yahoo,http://www.yahoo.com/,1994,Sunnyvale,CA,"10,001+",Public,Lifestyle & Consumer,Not reported by company,NaN
521,Zebu Compliance Solutions,www.zebucompliance.com,1999,Portsmouth,OH,Nov-50,Private,Healthcare,"Data analysis for clients, Database licensing,...","Business to Business, Business to Government"
522,Yelp,http://www.yelp.com/,2004,San Francisco,CA,"1,001-5,000",Public,Lifestyle & Consumer,Not reported by company,NaN
523,YourMapper,http://www.yourmapper.com,2005,Louisville,KY,1-10,Private,Geospatial/Mapping,"Advertising, Data analysis for clients, Databa...","Business to Business, Business to Consumer"
524,Zillow,http://www.zillow.com/,2006,Seattle,WA,"1,001-5,000",Public,Housing/Real Estate,Not reported by company,NaN
525,ZocDoc,http://www.zocdoc.com/,2007,New York,NY,"501-1,000",Private,Healthcare,Not reported by company,NaN
526,Zonability,http://www.zonability.com/,2003,Austin,TX,Nov-50,Private,Housing/Real Estate,Not reported by company,"Business to Business, Business to Government, ..."
527,Zoner,www.Zonerapp.com,2011,New York,NY,1-10,Private,Housing/Real Estate,Subscriptions,"Business to Business, Business to Consumer, no..."
528,Zurich Insurance (Risk Room),http://www.zurichna.com/,1912,Schaumburg,IL,"10,001+",Public,Insurance,Not reported by company,NaN

In [743]:
# listing what companies have 'Nov-50'
df[df['size'] == 'Nov-50']

,company_name,url,year_founded,city,state,size,company_type,company_category,revenue_source,business_model
8,Adaptive,http://www.adaptive.com,2001,Irvine,CA,Nov-50,Private,Business & Legal Services,Not reported by company,Business to Business
18,American Red Ball Movers,http://www.redball.com,1919,Indianapolis,IN,Nov-50,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer"
20,Analytica,http://www.analytica.net/,2007,Washington DC,DC,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Government"
21,Apextech LLC,apextechllc.com,2003,Arlington,VA,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing",Business to Government
22,Appallicious,appallicious.com,2010,San Francisco,CA,Nov-50,Private,Data/Technology,Software licensing,Business to Government
24,Archimedes Inc.,http://archimedesmodel.com/,2006,San Francisco,CA,Nov-50,Private,Healthcare,Software licensing,"Business to Business, Business to Government, ..."
32,"Aunt Bertha, Inc.",auntbertha.com,2010,Austin,TX,Nov-50,Private,Governance,"Software licensing, Subscriptions",Business to Consumer
33,Aureus Sciences (*Now part of Elsevier),http://www.aureus-sciences.com,2000,Philadelphia,PA,Nov-50,Private,Scientific Research,Not reported by company,Business to Business
34,AutoGrid Systems,http://www.auto-grid.com,2011,Redwood Shores,CA,Nov-50,Private,Energy,Not reported by company,"Business to Business, Business to Consumer, Bu..."
38,Azavea,azavea.com,2000,Philadelphia,PA,Nov-50,Private,Geospatial/Mapping,"Data analysis for clients, Database licensing,...","Business to Business, Business to Government"
45,BetterLesson,http://betterlesson.com,2008,Cambridge,MA,Nov-50,Private,Education,Not reported by company,"Business to Consumer, Business to Government"
46,BillGuard,https://www.billguard.com,2010,New York,NY,Nov-50,Private,Finance & Investment,User fees for web or mobile access,Business to Consumer
54,Boundless,www.boundlessgeo.com,2013,New York,NY,Nov-50,Private,Geospatial/Mapping,"Data analysis for clients, Database licensing,...",Business to Business
57,BuildFax,http://www.buildfax.com/,2008,NaN,NC,Nov-50,Private,Business & Legal Services,Not reported by company,"Business to Business, Business to Consumer"
59,BuildZoom,www.buildzoom.com,2010,San Francisco,CA,Nov-50,Private,Housing/Real Estate,"Advertising, Lead generation to other businesses",Business to Consumer
63,Cambridge Information Group,http://www.cig.com,1971,New York,NY,Nov-50,Private,Finance & Investment,Not reported by company,"Business to Business, Business to Consumer"
64,Cambridge Semantics,http://www.cambridgesemantics.com/home,2007,Boston,MA,Nov-50,Private,Data/Technology,Not reported by company,Business to Business
67,Capital Cube,http://www.capitalcube.com,2010,Williamsville,NY,Nov-50,partnership,Finance & Investment,Not reported by company,Business to Consumer
75,CB Insights,http://www.cbinsights.com/,2009,New York,NY,Nov-50,Private,Finance & Investment,"Lead generation to other businesses, Subscript...",Business to Business
77,Center for Responsive Politics,www.opensecrets.org,1983,Washington DC,DC,Nov-50,Nonprofit,Research & Consulting,Not reported by company,nonprofit
88,CitySourced,http://www.citysourced.com/,2007,Log Angeles,CA,Nov-50,Private,Governance,Software licensing,"Business to Consumer, Business to Government"
101,Code-N,http://www.code-n.com,2010,Menlo Park,CA,Nov-50,Private,Data/Technology,Not reported by company,Business to Business
106,Compendia Bioscience Life Technologies,http://www.lifetechnologies.com/us/en/home/lif...,2006,Ann Arbor,MI,Nov-50,Public,Scientific Research,"Database licensing, Software licensing, Subscr...","Business to Business, Business to Government, ..."
107,Compliance and Risks,http://www.complianceandrisks.com,2000,Oregon House,CA,Nov-50,Private,Business & Legal Services,Not reported by company,Business to Business
112,Construction Monitor LLC,www.constructionmonitor.com,1989,Cedar City,UT,Nov-50,Private,Housing/Real Estate,"Database licensing, Subscriptions",Business to Business
117,CostQuest,http://www.costquest.com,1990,Cincinnati,OH,Nov-50,partnership,Business & Legal Services,Not reported by company,Business to Business
119,Credit Sesame,creditsesame.com,2010,Mountain View,CA,Nov-50,Private,Finance & Investment,"Advertising, Lead generation to other businesses",Business to Consumer
120,CrowdANALYTIX,www.crowdanalytix.com,2012,Campbell,CA,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing",NaN
121,Dabo Health,https://www.dabohealth.com/#/,2011,Menlo Park,CA,Nov-50,Private,Healthcare,Software licensing,Business to Consumer
124,DataMarket,datamarket.com,2008,Boston,MA,Nov-50,Private,Data/Technology,Software licensing,Business to Consumer
...,...,...,...,...,...,...,...,...,...,...
398,RedLaser,http://redlaser.com,2003,San Jose,CA,Nov-50,Public,Lifestyle & Consumer,Not reported by company,Business to Consumer
403,Retroficiency,http://www.retroficiency.com,2009,Boston,MA,Nov-50,Private,Energy,Not reported by company,Business to Business
405,Revelstone,http://www.revelstonelabs.com,2010,Parsippany,NJ,Nov-50,Private,Governance,Software licensing,Business to Government
406,Rezolve Group,http://www.rezolvegroup.com,2007,Sacramento,CA,Nov-50,Private,Education,Not reported by company,Business to Consumer
411,Sage Bionetworks,http://sagebase.org,2009,Seattle,WA,Nov-50,Nonprofit,Scientific Research,"Storage, provenance, version control, and coll...","Business to Business, academia"
415,Science Exchange,scienceexchange.com,2011,Palo Alto,CA,Nov-50,Private,Scientific Research,User fees for web or mobile access,"Business to Business, academia"
417,SeeClickFix,en.seeclickfix.com,2008,New Haven,CT,Nov-50,Private,Governance,"Advertising, Software licensing","Business to Consumer, Business to Government"
418,SigFig,https://www.sigfig.com/,2008,San Francisco,CA,Nov-50,Private,Finance & Investment,Not reported by company,Business to Business
419,Simple Energy,http://simpleenergy.com,2010,Boulder,CO,Nov-50,Private,Energy,Software licensing,Business to Business
420,SimpleTuition,http://www.simpletuition.com/,2006,Boston,MA,Nov-50,Private,Education,Not reported by company,Business to Consumer
424,SmartProcure,http://smartprocure.us/,2011,Deerfield Beach,FL,Nov-50,Private,Governance,Subscriptions,Business to Business
427,Social Explorer,http://www.socialexplorer.com/,2007,New York,NY,Nov-50,Private,Data/Technology,"Software licensing, Subscriptions, partnerships","Business to Business, Business to Consumer"
435,SpaceCurve,www.spacecurve.com,2009,Seattle,WA,Nov-50,Private,Data/Technology,not reported by company,"Business to Business, Business to Government"
437,Spikes Cavell Analytic Inc,http://www.spikescavell.com/,2003,Herndon,VA,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing",Business to Government
440,SpotCrime,www.spotcrime.com,2007,Baltimore,MD,Nov-50,Private,Governance,Advertising,"Business to Consumer, nonprofit"
445,Sterling Infosystems,http://www.sterlinginfosystems.com/,1976,New York,NY,Nov-50,Private,Business & Legal Services,Not reported by company,NaN
447,STILLWATER SUPERCOMPUTING INC,http://www.stillwater-sc.com,2007,El Dorado Hills,CA,Nov-50,Private,Research & Consulting,"Consulting, Data analysis for clients, Databas...",Business to Business
448,StockSmart,http://www.stocksmart.com,2012,Boston,MA,Nov-50,Private,Finance & Investment,"Subscriptions, User fees for web or mobile access",Business to Consumer
450,StreamLink Software,http://www.streamlinksoftware.com/,2008,Cleveland,OH,Nov-50,Private,Data/Technology,Software licensing,"Business to Government, nonprofit"
451,"StreetCred Software, Inc",streetcredsoftware.com,2012,Southlake,TX,Nov-50,Private,Governance,"Software licensing, Subscriptions",Business to Government
452,StreetEasy,http://streeteasy.com/,2005,NaN,NY,Nov-50,Private,Housing/Real Estate,Not provided by company,Business to Consumer
472,TowerData,http://intelligence.towerdata.com/,2006,San Francisco,CA,Nov-50,Private,Data/Technology,Not reported by company,Business to Business
473,TransparaGov,http://www.TransparaGov.com/,2011,NaN,DC,Nov-50,Private,Governance,Not reported by company,"Business to Consumer, Business to Government"
483,Unigo LLC,www.unigo.com,2008,New York,NY,Nov-50,Private,Education,not reported by company,Business to Consumer
500,WaterSmart Software,http://www.watersmartsoftware.com/,2009,San Francisco,CA,Nov-50,Private,Environment & Weather,"Data analysis for clients, Database licensing,...",Business to Business
501,WattzOn,http://www.wattzon.com/,2008,Mountain View,CA,Nov-50,Private,Energy,Not reported by company,"Business to Business, Business to Consumer"
507,Webitects,webitects.com,1998,Chicago,IL,Nov-50,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Government, academia + nonprofit"
512,Whitby Group,http://www.whitbygroup.com,2001,Ithaca,NY,Nov-50,Private,Research & Consulting,Design consulting,NaN
521,Zebu Compliance Solutions,www.zebucompliance.com,1999,Portsmouth,OH,Nov-50,Private,Healthcare,"Data analysis for clients, Database licensing,...","Business to Business, Business to Government"
526,Zonability,http://www.zonability.com/,2003,Austin,TX,Nov-50,Private,Housing/Real Estate,Not reported by company,"Business to Business, Business to Government, ..."

In [744]:
df['size'].value_counts()

1-10            143
Nov-50          115
51-200           93
10,001+          56
1,001-5,000      30
201-500          25
501-1,000        22
5,001-10,000     16
Name: size, dtype: int64

Online research on first five companies in regards to number of employees:
    
    Adaptive: 51 - 200
    American Red Ball Movers: 201-500
    Analytica: 51
    Apextech LLC: 101 - 250 
    Appallicious: 11 - 50

The research shows results for the companies today. The companies probably grew in size and from the value_counts() function we can see we are missing now 11-50 (November is also the month number 11). We can safely say the value 'Nov-50' meant that specific company has 11-50 employees.

In [745]:
# Changing Nov-50 to 11-50
df['size'] = df['size'].replace(to_replace = 'Nov-50', value = '11-50')
df

,company_name,url,year_founded,city,state,size,company_type,company_category,revenue_source,business_model
0,"3 Round Stones, Inc.",http://3RoundStones.com,2010,Washington,DC,1-10,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Consumer"
1,48 Factoring Inc.,https://www.48factoring.com,2014,Philadelphia,PA,51-200,Private,Finance & Investment,Financial Services,Business to Business
2,5PSolutions,www.5psolutions.com,2007,Fairfax,VA,1-10,Private,Data/Technology,"Subscriptions, User fees for web or mobile access","Business to Business, Business to Consumer, Bu..."
3,Abt Associates,abtassoc.com,1965,Cambridge,MA,"1,001-5,000",Private,Research & Consulting,"Data analysis for clients, Database licensing",NaN
4,Accela,http://www.accela.com,1999,San Ramon,CA,"501-1,000",Private,Governance,Not reported by company,Business to Consumer
5,Accenture,http://www.accenture.com/us-en/pages/index.aspx,1989,Chicago,IL,"10,001+",Public,NaN,Not reported by company,Business to Business
6,AccuWeather,http://www.accuweather.com,1962,State College,PA,201-500,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu..."
7,Acxiom,http://acxiom.com,1969,Little Rock,AR,"5,001-10,000",Public,Data/Technology,Not reported by company,Business to Business
8,Adaptive,http://www.adaptive.com,2001,Irvine,CA,11-50,Private,Business & Legal Services,Not reported by company,Business to Business
9,Adobe Digital Government,http://www.adobe.com/solutions/government.html,2009,San Jose,CA,"10,001+",Public,Data/Technology,Not reported by company,Business to Government
10,Aidin,http://www.myAidin.com,2011,New York,NY,1-10,Private,Healthcare,Not reported by company,"Business to Business, Business to Consumer"
11,Alarm.com,www.alarm.com,2000,Leesburg Pike Vienna,VA,201-500,Private,Lifestyle & Consumer,NaN,Business to Consumer
12,Allianz,http://www.allianzusa.com,1896,New York,NY,"10,001+",Public,Finance & Investment,Not reported by company,Business to Consumer
13,Allied Van Lines,http://www.allied.com,1928,Oakbrook Terrace,IL,"5,001-10,000",Private,Transportation,Not reported by company,"Business to Business, Business to Consumer, Bu..."
14,AllState Insurance Group,http://www.allstate.com,1931,Northbrook,IL,"10,001+",Public,Insurance,Not reported by company,Business to Consumer
15,Alltuition,https://www.alltuition.com,2009,Chicago,IL,1-10,Private,Education,Not reported by company,Business to Consumer
16,Altova,http://www.altova.com,1992,Beverly,MA,51-200,Private,Data/Technology,Not reported by company,Business to Business
17,Amazon Web Services,http://aws.amazon.com,2007,Seattle,WA,NaN,Public,Data/Technology,Not reported by company,NaN
18,American Red Ball Movers,http://www.redball.com,1919,Indianapolis,IN,11-50,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer"
19,Amida Technology Solutions,http://amida-tech.com/index.html,2013,Washington,DC,1-10,Private,Healthcare,Not reported by company,"Business to Business, Business to Consumer"
20,Analytica,http://www.analytica.net/,2007,Washington DC,DC,11-50,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Business, Business to Government"
21,Apextech LLC,apextechllc.com,2003,Arlington,VA,11-50,Private,Data/Technology,"Data analysis for clients, Database licensing",Business to Government
22,Appallicious,appallicious.com,2010,San Francisco,CA,11-50,Private,Data/Technology,Software licensing,Business to Government
23,Aquicore,http://www.aquicore.com/,2010,NaN,DC,1-10,Private,Energy,NaN,Business to Business
24,Archimedes Inc.,http://archimedesmodel.com/,2006,San Francisco,CA,11-50,Private,Healthcare,Software licensing,"Business to Business, Business to Government, ..."
25,AreaVibes Inc.,http://www.areavibes.com/,2009,NaN,NY,1-10,Private,Data/Technology,not reported by company,Business to Consumer
26,Arpin Van Lines,http://www.arpin.com,1900,West Warwick,RI,201-500,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer, Bu..."
27,Arrive Labs,http://home.downloadarrive.com,2011,San Francisco,CA,1-10,Private,Transportation,Not reported by company,NaN
28,ASC Partners,http://www.asc-partners.com,2010,Boston,MA,1-10,partnership,Business & Legal Services,Not reported by company,Business to Business
29,Asset4,asset4.com,2003,New York,NY,51-200,Private,Finance & Investment,Not reported by company,Business to Business
...,...,...,...,...,...,...,...,...,...,...
499,Walk Score,www.walkscore.com,2007,Seattle,WA,1-10,Private,Lifestyle & Consumer,"Advertising, Database licensing, Subscriptions","Business to Business, Business to Consumer"
500,WaterSmart Software,http://www.watersmartsoftware.com/,2009,San Francisco,CA,11-50,Private,Environment & Weather,"Data analysis for clients, Database licensing,...",Business to Business
501,WattzOn,http://www.wattzon.com/,2008,Mountain View,CA,11-50,Private,Energy,Not reported by company,"Business to Business, Business to Consumer"
502,Way Better Patents,http://waybetterpatents.com/,2012,Oakton,VA,1-10,Private,Business & Legal Services,"Subscriptions, Custom Reports and Analysis","Business to Business, Business to Consumer"
503,Weather Channel,http://www.weather.com/,1982,Atlanta,GA,"1,001-5,000",Public,NaN,Not reported by company,NaN
504,Weather Decision Technologies,http://www.wdtinc.com/,1999,Norman,OK,51-200,Private,Environment & Weather,Not reported by company,Business to Business
505,Weather Underground,http://www.wunderground.com/,1995,San Francisco,CA,51-200,Private,Environment & Weather,Not provided by company,"Business to Business, Business to Consumer"
506,WebFilings,https://www.webfilings.com/,2008,Ames,IA,"501-1,000",Private,Finance & Investment,Not reported by company,NaN
507,Webitects,webitects.com,1998,Chicago,IL,11-50,Private,Data/Technology,"Data analysis for clients, Database licensing,...","Business to Government, academia + nonprofit"
508,WebMD,http://www.webmd.com/,1996,New York,NY,"1,001-5,000",Public,Healthcare,Not reported by company,NaN
509,Weight Watchers,http://www.weightwatchers.com/,1960,Jericho,NY,"10,001+",Public,Lifestyle & Consumer,Not reported by company,NaN
510,WeMakeItSafer,http://wemakeitsafer.com/,2009,Oakland,CA,1-10,Private,Lifestyle & Consumer,Not reported by company,Business to Consumer
511,Wheaton World Wide Moving,http://www.wheatonworldwide.com/,1945,Indianapolis,IN,51-200,Private,Transportation,Not reported by company,"Business to Business, Business to Consumer"
512,Whitby Group,http://www.whitbygroup.com,2001,Ithaca,NY,11-50,Private,Research & Consulting,Design consulting,NaN
513,Wolfram Research,http://www.wolfram.com/,1987,Champaign,IL,"501-1,000",Private,Data/Technology,Not reported by company,NaN
514,Wolters Kluwer,http://www.wolterskluwer.com/,1836,Minneapolis,MN,"10,001+",Public,Business & Legal Services,Not reported by company,NaN
515,Workhands,https://www.workhands.us/,2012,San Francisco,CA,NaN,NaN,Lifestyle & Consumer,Not reported by company,NaN
516,Xatori,http://www.xatori.com/,2010,Menlo Park,CA,1-10,Private,Energy,Not reported by company,NaN
517,Xcential,xcential.com,2003,Encinitas,CA,1-10,Private,Governance,Other,Business to Government
518,xDayta,http://www.xdayta.com,2013,Phoenix,AZ,1-10,Private,Data/Technology,"Lead generation to other businesses, User fees...",Business to Consumer
519,Xignite,http://www.xignite.com/,2000,San Mateo,CA,51-200,Private,Finance & Investment,Not reported by company,Business to Business
520,Yahoo,http://www.yahoo.com/,1994,Sunnyvale,CA,"10,001+",Public,Lifestyle & Consumer,Not reported by company,NaN
521,Zebu Compliance Solutions,www.zebucompliance.com,1999,Portsmouth,OH,11-50,Private,Healthcare,"Data analysis for clients, Database licensing,...","Business to Business, Business to Government"
522,Yelp,http://www.yelp.com/,2004,San Francisco,CA,"1,001-5,000",Public,Lifestyle & Consumer,Not reported by company,NaN
523,YourMapper,http://www.yourmapper.com,2005,Louisville,KY,1-10,Private,Geospatial/Mapping,"Advertising, Data analysis for clients, Databa...","Business to Business, Business to Consumer"
524,Zillow,http://www.zillow.com/,2006,Seattle,WA,"1,001-5,000",Public,Housing/Real Estate,Not reported by company,NaN
525,ZocDoc,http://www.zocdoc.com/,2007,New York,NY,"501-1,000",Private,Healthcare,Not reported by company,NaN
526,Zonability,http://www.zonability.com/,2003,Austin,TX,11-50,Private,Housing/Real Estate,Not reported by company,"Business to Business, Business to Government, ..."
527,Zoner,www.Zonerapp.com,2011,New York,NY,1-10,Private,Housing/Real Estate,Subscriptions,"Business to Business, Business to Consumer, no..."
528,Zurich Insurance (Risk Room),http://www.zurichna.com/,1912,Schaumburg,IL,"10,001+",Public,Insurance,Not reported by company,NaN

In [746]:
df['size'].value_counts()

1-10            143
11-50           115
51-200           93
10,001+          56
1,001-5,000      30
201-500          25
501-1,000        22
5,001-10,000     16
Name: size, dtype: int64

### Checking NaN values for Size column

In [747]:
# number of NaN values
df['size'].isnull().sum(axis = 0)

29

In [748]:
df[df['size'].isnull()]

,company_name,url,year_founded,city,state,size,company_type,company_category,revenue_source,business_model
17,Amazon Web Services,http://aws.amazon.com,2007,Seattle,WA,NaN,Public,Data/Technology,Not reported by company,NaN
48,Biovia,http://accelrys.com,2001,San Diego,CA,NaN,Public,Scientific Research,Not reported by company,Business to Business
49,BizVizz,http://bizvizz.com,2011,Milwaukee,WI,NaN,Private,Governance,Not reported by company,Business to Business
84,Child Care Desk,http://childcaredesk.com,2013,New York,NY,NaN,Private,Lifestyle & Consumer,Not reported by company,Business to Consumer
135,EarthObserver App,http://www.earth-observer.org/,2011,New York,NY,NaN,NaN,Geospatial/Mapping,Not reported by company,Business to Consumer
136,Earthquake Alert!,https://play.google.com/store/apps/details?id=...,2013,Reston,VA,NaN,Public (Federal-USGS),Geospatial/Mapping,Not reported by company,Business to Consumer
137,Eat Shop Sleep,https://itunes.apple.com/us/app/eat-shop-sleep...,2012,NaN,CA,NaN,NaN,Lifestyle & Consumer,Not reported by company,Business to Consumer
149,Equal Pay for Women,http://resources.alljobopenings.com/equality,2012,Midlothian,VA,NaN,NaN,Business & Legal Services,Not provided by company,NaN
200,"Govzilla, Inc.",fdazilla.com,2011,Yorkville,IL,NaN,Private,Governance,"Advertising, Subscriptions, Data analysis for ...",NaN
220,How's My Offer?,http://hmo.launchrock.com/,2014,NaN,WA,NaN,NaN,Education,Not reported by company,Business to Consumer
260,Knowledge Agency,http://www.knowledgeagency.com/,1989,New York,NY,NaN,NaN,Research & Consulting,Not reported by company,NaN
266,(Leg)Cyte,http://www.legcyte.com,2006,Washington,DC,NaN,Public,Governance,Software licensing,NaN
274,Lilly Open Innovation Drug Discovery,https://openinnovation.lilly.com/dd/,1876,Indianapolis,IN,NaN,NaN,Scientific Research,Not reported by company,Business to Business
284,Mango Transit,http://www.windowsphone.com/en-us/store/app/ma...,2011,Redmond,WA,NaN,Private,Geospatial/Mapping,Not reported by company,Business to Consumer
291,Marlin Alter and Associates,http://www.marlinalter.com/,NaN,NaN,FL,NaN,NaN,Business & Legal Services,Not reported by company,NaN
294,MedWatcher,http://www.medwatcher.org,2010,"Boston, MA",MA,NaN,Private,Healthcare,"Data analysis for clients, Database licensing,...",NaN
360,Personalis,http://www.personalis.com,2011,Menlo Park,CA,NaN,Private,Scientific Research,Not reported by company,Business to Business
370,Poncho App,http://poncho.is/,2013,New York,NY,NaN,Private,Environment & Weather,Not reported by company,Business to Consumer
391,Rank and Filed,http://rankandfiled.com/,2013,NaN,NY,NaN,Private,Finance & Investment,Not reported by company,NaN
396,ReciPal,https://www.recipal.com/,2011,NaN,NY,NaN,Private,Food & Agriculture,Not reported by company,NaN
409,Robinson + Yu,http://www.robinsonyu.com,2011,NaN,DC,NaN,NaN,Research & Consulting,Not reported by company,NaN
442,Stamen Design,http://stamen.com/,2001,San Francisco,CA,NaN,Private,Geospatial/Mapping,Not reported by company,Business to Business
456,T. Rowe Price,http://www.troweprice.com,1937,Baltimore,MD,NaN,Public,Finance & Investment,Not reported by company,NaN
461,Teradata,http://www.teradata.com/,1979,Dayton,OH,NaN,Public,Data/Technology,Not reported by company,NaN
465,The Govtech Fund,www.govtechfund.com,2014,San Francisco,CA,NaN,Private,Finance & Investment,Not reported by company,NaN
475,TrialTrove,http://www.citeline.com/products/trialtrove/,2002,New York,NY,NaN,NaN,Healthcare,Not reported by company,NaN
487,US Green Data,http://www.usgreendata.com/,2010,Cambridge,MA,NaN,Private,Energy,Not reported by company,NaN
488,U.S. News Schools,http://www.usnews.com/,1983,Washington,DC,NaN,Private,Education,Not reported by company,NaN
515,Workhands,https://www.workhands.us/,2012,San Francisco,CA,NaN,NaN,Lifestyle & Consumer,Not reported by company,NaN

## Checking company_type column values

In [749]:
df['company_type'].value_counts()

Private                           396
Public                             92
Nonprofit                          15
partnership                         4
Partnership                         2
nonprofit + commercial spinoff      1
Permitting Assistance               1
Public (Federal-USGS)               1
sole proprietorship                 1
Name: company_type, dtype: int64

In [750]:
# number of NaN values
df['company_type'].isnull().sum(axis = 0)

16

In [751]:
df[df['company_type'].isnull()]

,company_name,url,year_founded,city,state,size,company_type,company_category,revenue_source,business_model
135,EarthObserver App,http://www.earth-observer.org/,2011,New York,NY,NaN,NaN,Geospatial/Mapping,Not reported by company,Business to Consumer
137,Eat Shop Sleep,https://itunes.apple.com/us/app/eat-shop-sleep...,2012,NaN,CA,NaN,NaN,Lifestyle & Consumer,Not reported by company,Business to Consumer
149,Equal Pay for Women,http://resources.alljobopenings.com/equality,2012,Midlothian,VA,NaN,NaN,Business & Legal Services,Not provided by company,NaN
171,Fitch,https://www.fitchratings.com/web/en/dynamic/fi...,1913,New York,NY,"1,001-5,000",NaN,Finance & Investment,Not reported by company,Business to Business
220,How's My Offer?,http://hmo.launchrock.com/,2014,NaN,WA,NaN,NaN,Education,Not reported by company,Business to Consumer
260,Knowledge Agency,http://www.knowledgeagency.com/,1989,New York,NY,NaN,NaN,Research & Consulting,Not reported by company,NaN
274,Lilly Open Innovation Drug Discovery,https://openinnovation.lilly.com/dd/,1876,Indianapolis,IN,NaN,NaN,Scientific Research,Not reported by company,Business to Business
291,Marlin Alter and Associates,http://www.marlinalter.com/,NaN,NaN,FL,NaN,NaN,Business & Legal Services,Not reported by company,NaN
335,OpenPlans,http://openplans.org,1999,New York,NY,11-50,NaN,Governance,Not reported by company,Business to Consumer
338,optiGov,optigov.com,2013,NaN,NJ,1-10,NaN,Governance,"Philanthropic grants, Not provided by company","Business to Consumer, Business to Government"
358,Personal Democracy Media,http://personaldemocracy.com,2004,New York,NY,1-10,NaN,Governance,"Advertising, Philanthropic grants, Subscriptio...",Business to Consumer
367,Plus-U,https://www.unigo.com/from-plusu.aspx,2008,New York,NY,11-50,NaN,Education,Not reported by company,Business to Consumer
409,Robinson + Yu,http://www.robinsonyu.com,2011,NaN,DC,NaN,NaN,Research & Consulting,Not reported by company,NaN
471,TopCoder,http://www.topcoder.com/,2001,San Francisco,CA,51-200,NaN,Data/Technology,Not reported by company,Business to Consumer
475,TrialTrove,http://www.citeline.com/products/trialtrove/,2002,New York,NY,NaN,NaN,Healthcare,Not reported by company,NaN
515,Workhands,https://www.workhands.us/,2012,San Francisco,CA,NaN,NaN,Lifestyle & Consumer,Not reported by company,NaN

### Replacing the company types to Private, Public, Nonprofit, and Other

Our main focus will be on private and public. But we are interested to see what nonprofit or other types of companies can tell us.

In [752]:
df['company_type'] = df["company_type"].replace(to_replace = ["partnership", 
                                                 "Partnership", 
                                                 "Permitting Assistance", 
                                                 "Public (Federal-USGS)", 
                                                 "sole proprietorship", 
                                                 "nonprofit + commercial spinoff"], value = "Other")

In [753]:
df['company_type'].value_counts()

Private      396
Public        92
Nonprofit     15
Other         10
Name: company_type, dtype: int64

### Checking NaN values for company_type column
If many, they will be handled later

In [754]:
# number of NaN values
df['company_type'].isnull().sum(axis = 0)

16

### Checking if there are company_name missing values
If many, they will be handled later

In [755]:
df['company_name'].isnull().sum(axis = 0)

0

### Checking if there are year_founded missing values
If many, they will be handled later

In [756]:
df['year_founded'].isnull().sum(axis = 0)

1

In [757]:
# We can handle the NaN value manually
df[df['year_founded'].isnull()]

,company_name,url,year_founded,city,state,size,company_type,company_category,revenue_source,business_model
291,Marlin Alter and Associates,http://www.marlinalter.com/,NaN,NaN,FL,NaN,NaN,Business & Legal Services,Not reported by company,NaN

In [758]:
# there is not enough data online for this specific company. We can drop it from the dataframe
df.drop(index = 291, inplace = True)

In [759]:
df['year_founded'].isnull().sum() # no more NaN values for year_founded column

0

In [760]:
# Checking different company ages
df['year_founded'].value_counts()

2011    51
2010    50
2012    41
2009    32
2013    30
2007    28
2008    26
2006    21
2005    17
2000    16
2004    13
2003    11
2001    10
1999    10
1998    10
2014     8
2002     6
1987     6
1995     6
1989     5
1993     5
1994     4
1984     4
1996     4
1969     4
1997     4
1979     4
1978     3
1983     3
1968     3
        ..
1891     1
1845     1
1950     1
1812     1
1864     1
1963     1
1961     1
1856     1
1954     1
2015     1
1901     1
1841     1
1860     1
1899     1
1836     1
1951     1
1868     1
1971     1
1799     1
1953     1
1955     1
1966     1
1981     1
1895     1
1913     1
1905     1
1876     1
1962     1
1933     1
1931     1
Name: year_founded, Length: 95, dtype: int64

### Checking if there are city and state missing values

In [761]:
df['city'].value_counts()

New York            83
San Francisco       45
Boston              21
Chicago             17
Washington          17
Seattle             15
Cambridge            8
Mountain View        8
Palo Alto            8
Menlo Park           7
Austin               6
Atlanta              6
Sunnyvale            6
Denver               5
Baltimore            5
Philadelphia         4
Redwood City         4
Indianapolis         4
Houston              4
Redmond              3
Washington DC        3
Reston               3
San Mateo            3
San Jose             3
Berkeley             3
Bellevue             3
Oakland              3
Los Angeles          3
Santa Monica         3
Madison              3
                    ..
Portsmouth           1
Broadview            1
San Ramon            1
Sammamish            1
Villanova            1
Englewood            1
Bowie                1
Ithaca               1
Raleigh              1
Jericho              1
Sterling             1
Stamford             1
Vilnius              1
Santa Barbara        1
Jersey City          1
Wyckoff              1
White Plains         1
Durham               1
Columbus             1
Danvers              1
Schaumburg           1
Redwood Shores       1
Melbourne            1
Evansville           1
Norman               1
Deerfield Beach      1
East Falmouth        1
Westminster          1
Friendswood          1
Mayfield Village     1
Name: city, Length: 202, dtype: int64

In [762]:
# Fixing city names
df = df.replace({' Philadelphia':'Philadelphia'})
df = df.replace({'New York City': 'New York'})
df = df.replace({'Washington DC': 'Washington'})
df = df.replace({'Washington, D.C.': 'Washington'})

df['city'].value_counts()

New York            86
San Francisco       45
Boston              21
Washington          21
Chicago             17
Seattle             15
Mountain View        8
Cambridge            8
Palo Alto            8
Menlo Park           7
Atlanta              6
Austin               6
Sunnyvale            6
Baltimore            5
Philadelphia         5
Denver               5
Indianapolis         4
Redwood City         4
Houston              4
Bellevue             3
Redmond              3
Madison              3
Los Angeles          3
San Mateo            3
Oakland              3
Santa Monica         3
San Jose             3
Reston               3
Berkeley             3
Boulder              2
                    ..
Mayfield Village     1
Berkely              1
San Ramon            1
Sammamish            1
Villanova            1
Englewood            1
Bowie                1
Ithaca               1
Jericho              1
Stamford             1
Redwood Shores       1
Vilnius              1
Santa Barbara        1
Jersey City          1
Wyckoff              1
White Plains         1
Durham               1
Sterling             1
Danvers              1
Melbourne            1
Schaumburg           1
Evansville           1
Norman               1
Corte Madera         1
Deerfield Beach      1
East Falmouth        1
Westminster          1
Columbus             1
Friendswood          1
Olathe               1
Name: city, Length: 198, dtype: int64

In [763]:
# checking how many NaN values for city
df['city'].isnull().sum()

32

In [764]:
# Checking state values and missing values
df['state'].unique()

array(['DC', 'PA', 'VA', 'MA', 'CA', 'IL', 'AR', 'NY', 'WA', 'IN', 'RI',
       'TX', 'NC', 'NE', 'WI', 'GA', 'CT', 'TN', 'MO', 'OH', 'NJ', 'CO',
       'MD', 'MI', 'UT', 'FL', 'OR', 'KA', 'MT', 'AZ', 'ME', 'VT', 'MN',
       'NH', 'AL', 'NV', 'OK', 'IA', 'KY'], dtype=object)

In [765]:
# Checking how many states are present out of 50 American states
numStates = len(df['state'].unique())
numStates

39

In [766]:
# number of NaN states
df['state'].isnull().sum() # no NaN values

0

## Checking Company Category column

In [767]:
df['company_category'].value_counts()

Data/Technology              97
Finance & Investment         75
Governance                   43
Business & Legal Services    43
Healthcare                   40
Geospatial/Mapping           30
Research & Consulting        28
Transportation               28
Energy                       28
Lifestyle & Consumer         25
Housing/Real Estate          20
Education                    19
Scientific Research          17
Insurance                    11
Environment & Weather        11
Food & Agriculture            6
Media                         1
Housing/Real Estate,          1
Data/Technology,              1
Aerospace and Defense         1
Name: company_category, dtype: int64

In [768]:
# Fixing repetitive label names that hold the same value
df['company_category'] = df["company_category"].replace({"Data/Technology,":"Data/Technology", 
                                                 "Housing/Real Estate,":"Housing/Real Estate"})
df['company_category'].value_counts()

Data/Technology              98
Finance & Investment         75
Governance                   43
Business & Legal Services    43
Healthcare                   40
Geospatial/Mapping           30
Energy                       28
Transportation               28
Research & Consulting        28
Lifestyle & Consumer         25
Housing/Real Estate          21
Education                    19
Scientific Research          17
Insurance                    11
Environment & Weather        11
Food & Agriculture            6
Media                         1
Aerospace and Defense         1
Name: company_category, dtype: int64

In [769]:
# number of NaN categories
df['company_category'].isnull().sum()

3

In [770]:
# Manually fixing the three companies
df[df['company_category'].isnull()]

,company_name,url,year_founded,city,state,size,company_type,company_category,revenue_source,business_model
5,Accenture,http://www.accenture.com/us-en/pages/index.aspx,1989,Chicago,IL,"10,001+",Public,NaN,Not reported by company,Business to Business
348,Panjiva,www.panjiva.com,2006,New York,NY,11-50,Private,NaN,"Software licensing, Subscriptions",Business to Business
503,Weather Channel,http://www.weather.com/,1982,Atlanta,GA,"1,001-5,000",Public,NaN,Not reported by company,NaN

In [771]:
# replacing company values and checking if there are anymore NaN values
df.loc[5, 'company_category'] = 'Research & Consulting'
df.loc[348, 'company_category'] = 'Data/Technology'
df.loc[503, 'company_category'] = 'Environment & Weather'
df['company_category'].isnull().sum() # no NaN values

0

## Checking revenue source values and frequencies

In [772]:
df['revenue_source'].value_counts()

Not reported by company                                                                                                                                                                         283
Software licensing                                                                                                                                                                               21
not reported by company                                                                                                                                                                          18
Data analysis for clients, Database licensing                                                                                                                                                    17
Not provided by company                                                                                                                                                                          15
Subscriptions                                                                                                                                                                                    15
Data analysis for clients, Database licensing, Subscriptions                                                                                                                                     11
Software licensing, Subscriptions                                                                                                                                                                 8
Subscriptions, User fees for web or mobile access                                                                                                                                                 8
Advertising                                                                                                                                                                                       6
Database licensing, Subscriptions                                                                                                                                                                 5
Lead generation to other businesses                                                                                                                                                               5
Philanthropic grants                                                                                                                                                                              4
Lead generation to other businesses, Subscriptions                                                                                                                                                3
Advertising, Data analysis for clients, Database licensing, Subscriptions                                                                                                                         3
Data analysis for clients, Database licensing, Software licensing                                                                                                                                 3
User fees for web or mobile access                                                                                                                                                                3
Database licensing                                                                                                                                                                                3
Consulting, Data analysis for clients, Database licensing, Software licensing                                                                                                                     2
Advertising, Lead generation to other businesses                                                                                                                                                  2
Philanthropic grants, Subscriptions                                                                                                                                                               2
Advertising, Lead generation to other businesses, Subscriptions                                                                                                                                   2
Data analysis for clients, Database licensing, Software licensing, Subscriptions, User fees for web or mobile access                                                                              2
Data analysis for clients, Database licensing, Custom open source software development                                                                                                            1
Subscriptions, Services                                                                                                                                                                           1
Subscriptions, Software licensing                                                                                                                                                                 1
Advertising, Subscriptions, Data analysis for clients, Database licensing                                                                                                                         1
Advertising, Database licensing, Subscriptions                                                                                                                                                    1
Subscriptions, Data analysis for clients, Database licensing                                                                                                                                      1
Advertising, Data analysis for clients, Database licensing, Philanthropic grants, Software licensing, User fees for web or mobile access                                                          1
                                                                                                                                                                                               ...
Database licensing, Philanthropic grants, Software licensing, Subscriptions, User fees for web or mobile access                                                                                   1
Brokerage Fees                                                                                                                                                                                    1
Data analysis for clients, Software licensing, Subscriptions                                                                                                                                      1
No revenue, investors                                                                                                                                                                             1
ICT Product and Services, Software licensing, Data analysis for clients, Database licensing                                                                                                       1
Philanthropic grants, User fees for web or mobile access                                                                                                                                          1
Consulting, Data analysis for clients, Government contract, Lead generation to other businesses, Philanthropic grants, Software licensing, Subscriptions, User fees for web or mobile access      1
Subscriptions, Philanthropic grants                                                                                                                                                               1
Customers                                                                                                                                                                                         1
Data analysis for clients, Database licensing, Software licensing, Subscriptions                                                                                                                  1
Advertising, User fees for web or mobile access                                                                                                                                                   1
Software licensing, Transaction fees across our platform                                                                                                                                          1
Data analysis for clients, Database licensing, Subscriptions, Software Development Services, Open Source Software                                                                                 1
Database licensing, Software licensing, Subscriptions                                                                                                                                             1
Data analysis for clients, Database licensing, Database licensing                                                                                                                                 1
Lead generation to other businesses, User fees for web or mobile access, Marketplace Broker Fees                                                                                                  1
Data analysis for clients, Database licensing, Online Marketplace                                                                                                                                 1
IP licensing                                                                                                                                                                                      1
Advertising, Data analysis for clients, Database licensing, Software licensing, Subscriptions, User fees for web or mobile access                                                                 1
Advertising, Data analysis for clients, Database licensing, Software licensing, Subscriptions, API                                                                                                1
Consulting, App Sales                                                                                                                                                                             1
Subscriptions, Software licensing, Data analysis for clients, Database licensing                                                                                                                  1
Advertising, Data analysis for clients, Database licensing, Lead generation to other businesses, Software licensing                                                                               1
Software licensing, Subscriptions, User fees for web or mobile access                                                                                                                             1
Data analysis for clients, Database licensing, Subscriptions, User fees for web or mobile access                                                                                                  1
Data analysis for clients, Database licensing, Philanthropic grants, Software licensing, Subscriptions, User fees for web or mobile access                                                        1
Consulting, Data analysis for clients, Government contract                                                                                                                                        1
Membership fees, Subscriptions                                                                                                                                                                    1
Growing number of small businesses we are able to serve                                                                                                                                           1
Database licensing, Software licensing                                                                                                                                                            1
Name: revenue_source, Length: 100, dtype: int64

There are too many values (more than 300) not reported by the companies. Check the number of NaN just in case but the column will probably be dropped.

In [773]:
df['revenue_source'].isnull().sum()

10

In [774]:
# drop column revenue_source
df.drop(columns = 'revenue_source', inplace = True)

In [775]:
df.head()

,company_name,url,year_founded,city,state,size,company_type,company_category,business_model
0,"3 Round Stones, Inc.",http://3RoundStones.com,2010,Washington,DC,1-10,Private,Data/Technology,"Business to Business, Business to Consumer"
1,48 Factoring Inc.,https://www.48factoring.com,2014,Philadelphia,PA,51-200,Private,Finance & Investment,Business to Business
2,5PSolutions,www.5psolutions.com,2007,Fairfax,VA,1-10,Private,Data/Technology,"Business to Business, Business to Consumer, Bu..."
3,Abt Associates,abtassoc.com,1965,Cambridge,MA,"1,001-5,000",Private,Research & Consulting,NaN
4,Accela,http://www.accela.com,1999,San Ramon,CA,"501-1,000",Private,Governance,Business to Consumer

## Checking Business Model Column

In [776]:
df['business_model'].value_counts()

Business to Business                                                            172
Business to Consumer                                                            114
Business to Business, Business to Consumer                                       63
Business to Business, Business to Government                                     31
Business to Business, Business to Consumer, Business to Government               19
Business to Government                                                           12
Business to Consumer, Business to Government                                      9
Business to Business, academia                                                    4
Business to Government, nonprofit                                                 4
Business to Business, Business to Government, academia                            3
nonprofit                                                                         3
Business to Business, nonprofit                                                   2
Business to Business, Business to Government, nonprofit                           2
Business to Business, Business to Consumer, Business to Government, academia      2
Business to Government,                                                           1
Business to Business, Business to Consumer, academia                              1
Business to Business, Business to Government, academia + nonprofit                1
Business to Business, Business to Consumer, nonprofit                             1
Business to Business, Business to Consumer, Business to Government,               1
Business to Government, academia + nonprofit                                      1
Business to Consumer, Business to Government, nonprofit                           1
academia                                                                          1
Business to Business, Business to Consumer,                                       1
Business to Consumer, nonprofit                                                   1
Business to Business, Business to Consumer, academia + nonprofit                  1
Business to Government, Business to Nonprofit                                     1
Nonprofit                                                                         1
Name: business_model, dtype: int64

## Transform all model names to lowercase

In [777]:
df['business_model'] = df['business_model'].str.lower()

## Create new columns in Dataframe

In [778]:
for model in ['b2b', 'b2c', 'b2g', 'b2n', 'academia', 'nonprofit']:
    df[model] = 0

## Transform/abbreviate model values in Dataframe

In [779]:
df['business_model'] = df['business_model'].str.replace('business', 'b')
df['business_model'] = df['business_model'].str.replace('consumer', 'c')
df['business_model'] = df['business_model'].str.replace('government', 'g')
df['business_model'] = df['business_model'].str.replace(' to ', '2')
df['business_model'] = df['business_model'].str.replace('+', ',')
df['business_model'] = df['business_model'].str.replace('b2nonprofit', 'b2n')

## Appropriately populate new rows with corresponding information

In [780]:
for index, row in df.iterrows():
    #for all valid values
    if type(row['business_model']) == str:
        #split original business_model column by commas
        model_array = row['business_model'].split(",")

        #for each business_model:
        for model in model_array:
            row[model.lstrip()] = 1
            
        #set cell model_type ('b2b', 'b2g', etc) to 1
        df.loc[index] = row

In [781]:
# Check new dataframe
df.head()

,company_name,url,year_founded,city,state,size,company_type,company_category,business_model,b2b,b2c,b2g,b2n,academia,nonprofit
0,"3 Round Stones, Inc.",http://3RoundStones.com,2010,Washington,DC,1-10,Private,Data/Technology,"b2b, b2c",1,1,0,0,0,0
1,48 Factoring Inc.,https://www.48factoring.com,2014,Philadelphia,PA,51-200,Private,Finance & Investment,b2b,1,0,0,0,0,0
2,5PSolutions,www.5psolutions.com,2007,Fairfax,VA,1-10,Private,Data/Technology,"b2b, b2c, b2g",1,1,1,0,0,0
3,Abt Associates,abtassoc.com,1965,Cambridge,MA,"1,001-5,000",Private,Research & Consulting,NaN,0,0,0,0,0,0
4,Accela,http://www.accela.com,1999,San Ramon,CA,"501-1,000",Private,Governance,b2c,0,1,0,0,0,0

In [782]:
## Checking how connected a company type is to business model
df[df['company_type'] == 'Nonprofit']

,company_name,url,year_founded,city,state,size,company_type,company_category,business_model,b2b,b2c,b2g,b2n,academia,nonprofit
77,Center for Responsive Politics,www.opensecrets.org,1983,Washington,DC,11-50,Nonprofit,Research & Consulting,nonprofit,0,0,0,0,0,1
83,Chemical Abstracts Service,https://www.cas.org,1907,Columbus,OH,"1,001-5,000",Nonprofit,Scientific Research,nonprofit,0,0,0,0,0,1
100,Code for America,http://codeforamerica.org,2009,San Francisco,CA,51-200,Nonprofit,Governance,b2g,0,0,1,0,0,0
103,"College Abacus, an ECMC initiative",https://collegeabacus.org,1994,Washington,DC,"501-1,000",Nonprofit,Finance & Investment,NaN,0,0,0,0,0,0
104,College Board,http://www.collegeboard.org,1900,New York,NY,"1,001-5,000",Nonprofit,Education,NaN,0,0,0,0,0,0
113,Consumer Reports,www.consumerreports.org,1936,Yonkers,NY,"501-1,000",Nonprofit,Lifestyle & Consumer,NaN,0,0,0,0,0,0
114,CoolClimate,http://coolclimate.berkeley.edu,2007,Berkeley,CA,1-10,Nonprofit,Environment & Weather,"b2b, b2c, b2g",1,1,1,0,0,0
205,GreatSchools,greatschools.org,1998,San Francisco,CA,51-200,Nonprofit,Education,b2c,0,1,0,0,0,0
206,GuideStar,http://www.guidestar.org,1994,Washington,DC,51-200,Nonprofit,Governance,nonprofit,0,0,0,0,0,1
222,ideas42,ideas42.org,2008,New York,NY,11-50,Nonprofit,Research & Consulting,nonprofit,0,0,0,0,0,1
253,Kaiser Permanante,https://healthy.kaiserpermanente.org/html/kais...,1945,Oakland,CA,"10,001+",Nonprofit,Healthcare,b2c,0,1,0,0,0,0
368,PolicyMap,policymap.com,2007,Philadelphia,PA,1-10,Nonprofit,Geospatial/Mapping,"b2b, b2c, b2g, academia",1,1,1,0,1,0
381,ProPublica,http://www.propublica.org/,2007,New York,NY,11-50,Nonprofit,Governance,b2c,0,1,0,0,0,0
389,RAND Corporation,http://www.rand.org,1946,Santa Monica,CA,"1,001-5,000",Nonprofit,Research & Consulting,"b2b, b2g",1,0,1,0,0,0
411,Sage Bionetworks,http://sagebase.org,2009,Seattle,WA,11-50,Nonprofit,Scientific Research,"b2b, academia",1,0,0,0,1,0

It is interesting to see how if a company is nonprofit by 'company_type', it does not have to be nonprofit by company model

## Checking how many NaN are there for business model

In [783]:
df['business_model'].isnull().sum()

75

# Handling NaN values for the whole dataset

### We will deal with some of the NaN values by checking what rows have more than one NaN entry.

The four columns with NaN values are 'city', 'size', 'company_type', and 'business_model'
We will drop the row if we cannot find one of the four columns information online.

In [784]:
# Checking wich rows have more than 3 NaN
multipleNan = df.loc[(df['city'].isnull()) & (df['size'].isnull()) & (df['company_type'].isnull()) | 
       (df['city'].isnull()) & (df['size'].isnull()) & (df['business_model'].isnull()) |
       (df['city'].isnull()) & (df['size'].isnull()) & (df['business_model'].isnull()) |
       (df['company_type'].isnull()) & (df['size'].isnull()) & (df['business_model'].isnull()) |
       (df['company_type'].isnull()) & (df['size'].isnull()) & df['city'].isnull() & (df['business_model'].isnull())]
multipleNan

,company_name,url,year_founded,city,state,size,company_type,company_category,business_model,b2b,b2c,b2g,b2n,academia,nonprofit
137,Eat Shop Sleep,https://itunes.apple.com/us/app/eat-shop-sleep...,2012,NaN,CA,NaN,NaN,Lifestyle & Consumer,b2c,0,1,0,0,0,0
149,Equal Pay for Women,http://resources.alljobopenings.com/equality,2012,Midlothian,VA,NaN,NaN,Business & Legal Services,NaN,0,0,0,0,0,0
220,How's My Offer?,http://hmo.launchrock.com/,2014,NaN,WA,NaN,NaN,Education,b2c,0,1,0,0,0,0
260,Knowledge Agency,http://www.knowledgeagency.com/,1989,New York,NY,NaN,NaN,Research & Consulting,NaN,0,0,0,0,0,0
391,Rank and Filed,http://rankandfiled.com/,2013,NaN,NY,NaN,Private,Finance & Investment,NaN,0,0,0,0,0,0
396,ReciPal,https://www.recipal.com/,2011,NaN,NY,NaN,Private,Food & Agriculture,NaN,0,0,0,0,0,0
409,Robinson + Yu,http://www.robinsonyu.com,2011,NaN,DC,NaN,NaN,Research & Consulting,NaN,0,0,0,0,0,0
475,TrialTrove,http://www.citeline.com/products/trialtrove/,2002,New York,NY,NaN,NaN,Healthcare,NaN,0,0,0,0,0,0
515,Workhands,https://www.workhands.us/,2012,San Francisco,CA,NaN,NaN,Lifestyle & Consumer,NaN,0,0,0,0,0,0

In [785]:
# Manually handling each company
# indexes of companies to drop (after looking them up):
# 137, 149, 220, 260, 391, 396, 409, 475, 515
# all of them need to be dropped
df.drop(index = multipleNan.index, axis = 0, inplace = True)

In [786]:
# Checking if they are dropped
df.loc[(df['city'].isnull()) & (df['size'].isnull()) & (df['company_type'].isnull()) | 
       (df['city'].isnull()) & (df['size'].isnull()) & (df['business_model'].isnull()) |
       (df['city'].isnull()) & (df['size'].isnull()) & (df['business_model'].isnull()) |
       (df['company_type'].isnull()) & (df['size'].isnull()) & (df['business_model'].isnull()) |
       (df['company_type'].isnull()) & (df['size'].isnull()) & df['city'].isnull() & (df['business_model'].isnull())]

Empty DataFrame
Columns: [company_name, url, year_founded, city, state, size, company_type, company_category, business_model, b2b, b2c, b2g, b2n, academia, nonprofit]
Index: []

### After looking up companies online. The easiest values for the columns to find online are 'size' , 'city', and 'company_category'. So next we will focus on those missing values

In [787]:
# city
df[df['city'].isnull()].loc[:, 'company_name':'state']

,company_name,url,year_founded,city,state
23,Aquicore,http://www.aquicore.com/,2010,NaN,DC
25,AreaVibes Inc.,http://www.areavibes.com/,2009,NaN,NY
57,BuildFax,http://www.buildfax.com/,2008,NaN,NC
81,Charles River Associates,http://crai.com/,1965,NaN,MA
160,Exversion,https://exversion.com,2013,NaN,NY
219,Housefax,http://housefax.com/,2002,NaN,VA
269,Lenddo,https://www.lenddo.com/pages/what_is_lenddo/of...,2011,NaN,NY
306,Mozio,http://www.mozio.com/,2011,NaN,CA
311,Nationwide Mutual Insurance Company,http://www.nationwide.com,1926,NaN,OH
314,NERA Economic Consulting,http://www.nera.com/,1961,NaN,NY
320,Nielsen,http://www.nielsen.com/us/en.html,1964,NaN,NY
324,Noveda Technologies,www.noveda.com,2007,NaN,NJ
333,OpenCounter,http://opencounter.us,2013,NaN,CA
338,optiGov,optigov.com,2013,NaN,NJ
356,People Power,http://www.peoplepowerco.com/,2009,NaN,CA
362,PEV4me.com,http://www.pev4me.com,2011,NaN,CA
373,PossibilityU,http://www.possibilityu.com/,2010,NaN,ME
385,Quandl,http://www.quandl.com,2011,NaN,NY
414,Scale Unlimited,http://www.scaleunlimited.com/,2006,NaN,CA
429,SocialEffort Inc,http://socialeffort.co/,2013,NaN,NY
431,Solar Census,http://www.solarcensus.com,2006,NaN,CA
443,Standard and Poor's,http://www.standardandpoors.com/en_US/web/gues...,1860,NaN,NY
452,StreetEasy,http://streeteasy.com/,2005,NaN,NY
462,The Advisory Board Company,http://www.advisory.com/,1979,NaN,DC
473,TransparaGov,http://www.TransparaGov.com/,2011,NaN,DC
485,Urban Airship,http://urbanairship.com/,2009,NaN,OR
498,Votizen,www.votizen.com,2010,NaN,NY

City
Index to drop:

25 Toronto

269 (from Singapore)

338

385 Toronto

498

City
Index to keep: 

23, Washington

57, Asheville

81, Boston

160, New York

219, Haymarket, Virginia

306, New York

311, Columbus

314, White Plains

320, New York

324, Bridgewater

333, San Francisco

356, Palo Alto

362, Sunnyvale

373, FreePort

414, Nevada City

429, New York

431, Sebastopol

443, New York

452, New York

462, Washington

473, Washington

485, Portland

In [788]:
# manually inputting cities
df.loc[23, 'city'] = 'Washington'
df.loc[57, 'city'] = 'Asheville'
df.loc[81, 'city'] = 'Boston'
df.loc[160, 'city'] = 'New York'
df.loc[219, 'city'] = 'Haymarket'
df.loc[306, 'city'] = 'New York'
df.loc[311, 'city'] = 'Columbus'
df.loc[314, 'city'] = 'White Plains'
df.loc[320, 'city'] = 'New York'
df.loc[324, 'city'] = 'Bridgewater'
df.loc[333, 'city'] = 'San Francisco'
df.loc[356, 'city'] = 'Palo Alto'
df.loc[362, 'city'] = 'Sunnyvale'
df.loc[373, 'city'] = 'FreePort'
df.loc[414, 'city'] = 'Nevada City'
df.loc[429, 'city'] = 'New York'
df.loc[431, 'city'] = 'Sebastopol'
df.loc[443, 'city'] = 'New York'
df.loc[452, 'city'] = 'New York'
df.loc[462, 'city'] = 'Washington'
df.loc[473, 'city'] = 'Washington'
df.loc[485, 'city'] = 'Portland'

In [789]:
# dropping cities
df.drop(index = [25, 269, 338, 385, 498], axis = 0, inplace = True)

In [790]:
# Checking if the cities values are now fixed
df[df['city'].isnull()].loc[:, 'company_name':'size']

Empty DataFrame
Columns: [company_name, url, year_founded, city, state, size]
Index: []

In [791]:
df['city'].isnull().sum()

0

In [792]:
# Checking size
df[df['size'].isnull()]

,company_name,url,year_founded,city,state,size,company_type,company_category,business_model,b2b,b2c,b2g,b2n,academia,nonprofit
17,Amazon Web Services,http://aws.amazon.com,2007,Seattle,WA,NaN,Public,Data/Technology,NaN,0,0,0,0,0,0
48,Biovia,http://accelrys.com,2001,San Diego,CA,NaN,Public,Scientific Research,b2b,1,0,0,0,0,0
49,BizVizz,http://bizvizz.com,2011,Milwaukee,WI,NaN,Private,Governance,b2b,1,0,0,0,0,0
84,Child Care Desk,http://childcaredesk.com,2013,New York,NY,NaN,Private,Lifestyle & Consumer,b2c,0,1,0,0,0,0
135,EarthObserver App,http://www.earth-observer.org/,2011,New York,NY,NaN,NaN,Geospatial/Mapping,b2c,0,1,0,0,0,0
136,Earthquake Alert!,https://play.google.com/store/apps/details?id=...,2013,Reston,VA,NaN,Other,Geospatial/Mapping,b2c,0,1,0,0,0,0
200,"Govzilla, Inc.",fdazilla.com,2011,Yorkville,IL,NaN,Private,Governance,NaN,0,0,0,0,0,0
266,(Leg)Cyte,http://www.legcyte.com,2006,Washington,DC,NaN,Public,Governance,NaN,0,0,0,0,0,0
274,Lilly Open Innovation Drug Discovery,https://openinnovation.lilly.com/dd/,1876,Indianapolis,IN,NaN,NaN,Scientific Research,b2b,1,0,0,0,0,0
284,Mango Transit,http://www.windowsphone.com/en-us/store/app/ma...,2011,Redmond,WA,NaN,Private,Geospatial/Mapping,b2c,0,1,0,0,0,0
294,MedWatcher,http://www.medwatcher.org,2010,"Boston, MA",MA,NaN,Private,Healthcare,NaN,0,0,0,0,0,0
360,Personalis,http://www.personalis.com,2011,Menlo Park,CA,NaN,Private,Scientific Research,b2b,1,0,0,0,0,0
370,Poncho App,http://poncho.is/,2013,New York,NY,NaN,Private,Environment & Weather,b2c,0,1,0,0,0,0
442,Stamen Design,http://stamen.com/,2001,San Francisco,CA,NaN,Private,Geospatial/Mapping,b2b,1,0,0,0,0,0
456,T. Rowe Price,http://www.troweprice.com,1937,Baltimore,MD,NaN,Public,Finance & Investment,NaN,0,0,0,0,0,0
461,Teradata,http://www.teradata.com/,1979,Dayton,OH,NaN,Public,Data/Technology,NaN,0,0,0,0,0,0
465,The Govtech Fund,www.govtechfund.com,2014,San Francisco,CA,NaN,Private,Finance & Investment,NaN,0,0,0,0,0,0
487,US Green Data,http://www.usgreendata.com/,2010,Cambridge,MA,NaN,Private,Energy,NaN,0,0,0,0,0,0
488,U.S. News Schools,http://www.usnews.com/,1983,Washington,DC,NaN,Private,Education,NaN,0,0,0,0,0,0

Index to keep:

17. '10,001+'

48. '501-1000'

49. '51-200' --> "BizViz"

200. '1-10'

266. '1-10'

360. '51-200'

370. '1-10'

442. '11-50'

456. '5,001-10,000'
 
465. '1-10'

487. '1-10'

488. '201-500'

In [793]:
df.loc[17, 'size'] = '10,001+'
df.loc[48, 'size'] = '501-1,000'
df.loc[49, 'size'] = '51-200'
df.loc[49, 'company_name'] = 'BizBiz' # fixing name of the company
df.loc[200, 'size'] = '1-10'
df.loc[266, 'size'] = '1-10'
df.loc[360, 'size'] = '51-200'
df.loc[370, 'size'] = '1-10'
df.loc[442, 'size'] = '11-50'
df.loc[456, 'size'] = '5,001-10,000'
df.loc[465, 'size'] = '1-10'
df.loc[487, 'size'] = '1-10'
df.loc[488, 'size'] = '201-500'

Index to drop:

84

135

136

274

284

294

461

In [794]:
# dropping rows 
df.drop(index = [84,135,136,274,284,294,461], axis = 0, inplace = True)
df['size'].isnull().sum()

0

In [795]:
# Checking company type
df[df['company_type'].isnull()]

,company_name,url,year_founded,city,state,size,company_type,company_category,business_model,b2b,b2c,b2g,b2n,academia,nonprofit
171,Fitch,https://www.fitchratings.com/web/en/dynamic/fi...,1913,New York,NY,"1,001-5,000",NaN,Finance & Investment,b2b,1,0,0,0,0,0
335,OpenPlans,http://openplans.org,1999,New York,NY,11-50,NaN,Governance,b2c,0,1,0,0,0,0
358,Personal Democracy Media,http://personaldemocracy.com,2004,New York,NY,1-10,NaN,Governance,b2c,0,1,0,0,0,0
367,Plus-U,https://www.unigo.com/from-plusu.aspx,2008,New York,NY,11-50,NaN,Education,b2c,0,1,0,0,0,0
471,TopCoder,http://www.topcoder.com/,2001,San Francisco,CA,51-200,NaN,Data/Technology,b2c,0,1,0,0,0,0

index to drop:
    None

index to  keep:

171, Private

335, Nonprofit

358, Private

367, Private

471, Private

In [796]:
df.loc[171, 'company_type'] = 'Private'
df.loc[335, 'company_type'] = 'Nonprofit'
df.loc[358, 'company_type'] = 'Private'
df.loc[367, 'company_type'] = 'Private'
df.loc[471, 'company_type'] = 'Private'

In [797]:
# Checking if there are more NaN
df['company_type'].isnull().sum()

0

In [798]:
## It is very complicated to  look up the companies online and find the business model, so those rows will be dropped
# Yes, we just realized we should have dropped them earlier
df[df['business_model'].isnull()]

,company_name,url,year_founded,city,state,size,company_type,company_category,business_model,b2b,b2c,b2g,b2n,academia,nonprofit
3,Abt Associates,abtassoc.com,1965,Cambridge,MA,"1,001-5,000",Private,Research & Consulting,NaN,0,0,0,0,0,0
17,Amazon Web Services,http://aws.amazon.com,2007,Seattle,WA,"10,001+",Public,Data/Technology,NaN,0,0,0,0,0,0
27,Arrive Labs,http://home.downloadarrive.com,2011,San Francisco,CA,1-10,Private,Transportation,NaN,0,0,0,0,0,0
44,Berkshire Hathaway,http://www.berkshirehathaway.com,1998,Omaha,NE,"5,001-10,000",Public,Finance & Investment,NaN,0,0,0,0,0,0
47,Bing,http://www.bing.com,2009,Redmond,WA,"10,001+",Private,Data/Technology,NaN,0,0,0,0,0,0
94,ClearHealthCosts,clearhealthcosts.com,2011,New York,NY,1-10,Public,Healthcare,NaN,0,0,0,0,0,0
103,"College Abacus, an ECMC initiative",https://collegeabacus.org,1994,Washington,DC,"501-1,000",Nonprofit,Finance & Investment,NaN,0,0,0,0,0,0
104,College Board,http://www.collegeboard.org,1900,New York,NY,"1,001-5,000",Nonprofit,Education,NaN,0,0,0,0,0,0
113,Consumer Reports,www.consumerreports.org,1936,Yonkers,NY,"501-1,000",Nonprofit,Lifestyle & Consumer,NaN,0,0,0,0,0,0
116,CoreLogic,http://www.corelogic.com,2010,Irvine,CA,"1,001-5,000",Public,Housing/Real Estate,NaN,0,0,0,0,0,0
120,CrowdANALYTIX,www.crowdanalytix.com,2012,Campbell,CA,11-50,Private,Data/Technology,NaN,0,0,0,0,0,0
133,Dun & Bradstreet,http://www.dnb.com,1841,Short Hills,NJ,"1,001-5,000",Public,Business & Legal Services,NaN,0,0,0,0,0,0
154,Esri,esri.com,1969,Redlands,CA,"1,001-5,000",Private,Geospatial/Mapping,NaN,0,0,0,0,0,0
178,Fujitsu,http://www.fujitsu.com/us/,1935,Sunnyvale,CA,"10,001+",Private,Data/Technology,NaN,0,0,0,0,0,0
200,"Govzilla, Inc.",fdazilla.com,2011,Yorkville,IL,1-10,Private,Governance,NaN,0,0,0,0,0,0
201,gRadiant Research LLC,gradiant-research.com,2008,Concord,MA,51-200,Private,Research & Consulting,NaN,0,0,0,0,0,0
208,Harris Corporation,www.harris.com,1895,Melbourne,FL,"10,001+",Public,Environment & Weather,NaN,0,0,0,0,0,0
211,Healthgrades,http://www.healthgrades.com/,1998,"Denver, CO",CO,"501-1,000",Private,Healthcare,NaN,0,0,0,0,0,0
216,HERE,http://here.com,2012,Chicago,IL,"5,001-10,000",Private,Geospatial/Mapping,NaN,0,0,0,0,0,0
221,IBM,www.ibm.com,1912,Armonk,NY,"10,001+",Public,Data/Technology,NaN,0,0,0,0,0,0
234,InnoCentive,http://www.innocentive.com,2001,Waltham,MA,51-200,Private,Scientific Research,NaN,0,0,0,0,0,0
257,Kimono Labs,kimonolabs.com,2014,San Francisco,CA,1-10,Private,Data/Technology,NaN,0,0,0,0,0,0
266,(Leg)Cyte,http://www.legcyte.com,2006,Washington,DC,1-10,Public,Governance,NaN,0,0,0,0,0,0
283,"Lumesis, Inc.",www.lumesis.com,2010,Stamford,CT,11-50,Private,Data/Technology,NaN,0,0,0,0,0,0
297,Merrill Lynch,http://www.ml.com/index.asp?id=7695_15125,1914,New York,NY,"10,001+",Public,Finance & Investment,NaN,0,0,0,0,0,0
313,Navico,www.navico.com,2005,Nashua,NH,"1,001-5,000",Private,Geospatial/Mapping,NaN,0,0,0,0,0,0
317,Next Step Living,http://www.nextstepliving.com,2008,Boston,MA,"501-1,000",Private,Energy,NaN,0,0,0,0,0,0
349,Parsons Brinckerhoff,www.pbworld.com,1885,New York,NY,"10,001+",Private,Transportation,NaN,0,0,0,0,0,0
388,R R Donnelley,http://www.rrdonnelley.com,1864,Chicago,IL,"10,001+",Public,Business & Legal Services,NaN,0,0,0,0,0,0
400,REI Systems,www.reisystems.com,1989,Sterling,VA,"501-1,000",Private,Data/Technology,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,Sterling Infosystems,http://www.sterlinginfosystems.com/,1976,New York,NY,11-50,Private,Business & Legal Services,NaN,0,0,0,0,0,0
453,Suddath,http://www.suddath.com/,1919,Wayne,NJ,"1,001-5,000",Private,Transportation,NaN,0,0,0,0,0,0
456,T. Rowe Price,http://www.troweprice.com,1937,Baltimore,MD,"5,001-10,000",Public,Finance & Investment,NaN,0,0,0,0,0,0
457,Tableau Software,http://www.tableausoftware.com/,2003,Seattle,WA,"1,001-5,000",Public,Data/Technology,NaN,0,0,0,0,0,0
459,Telenav,http://www.telenav.com/,1999,Sunnyvale,CA,"501-1,000",Public,Geospatial/Mapping,NaN,0,0,0,0,0,0
462,The Advisory Board Company,http://www.advisory.com/,1979,Washington,DC,"1,001-5,000",Public,Research & Consulting,NaN,0,0,0,0,0,0
465,The Govtech Fund,www.govtechfund.com,2014,San Francisco,CA,1-10,Private,Finance & Investment,NaN,0,0,0,0,0,0
467,The Vanguard Group,http://www.vanguard.com/,1975,Valley Forge,PA,"10,001+",Private,Finance & Investment,NaN,0,0,0,0,0,0
470,Thomson Reuters,http://thomsonreuters.com/,2008,New York,NY,"10,001+",Public,Business & Legal Services,NaN,0,0,0,0,0,0
474,TransUnion,http://www.transunion.com/,1968,Chicago,IL,"1,001-5,000",Private,Business & Legal Services,NaN,0,0,0,0,0,0
479,Trulia,trulia.com,2005,San Francisco,CA,201-500,Public,Housing/Real Estate,NaN,0,0,0,0,0,0
482,Uber,https://www.uber.com/,2009,San Francisco,CA,"1,001-5,000",Private,Transportation,NaN,0,0,0,0,0,0
487,US Green Data,http://www.usgreendata.com/,2010,Cambridge,MA,1-10,Private,Energy,NaN,0,0,0,0,0,0
488,U.S. News Schools,http://www.usnews.com/,1983,Washington,DC,201-500,Private,Education,NaN,0,0,0,0,0,0
489,USAA Group,https://www.usaa.com,1922,San Antonio,TX,"10,001+",Private,Finance & Investment,NaN,0,0,0,0,0,0
491,Verdafero,www.verdafero.com,2009,San Francisco,CA,1-10,Private,Data/Technology,NaN,0,0,0,0,0,0
492,Vimo,www.vimo.com,2012,Palo Alto,CA,51-200,Private,Insurance,NaN,0,0,0,0,0,0
503,Weather Channel,http://www.weather.com/,1982,Atlanta,GA,"1,001-5,000",Public,Environment & Weather,NaN,0,0,0,0,0,0
506,WebFilings,https://www.webfilings.com/,2008,Ames,IA,"501-1,000",Private,Finance & Investment,NaN,0,0,0,0,0,0
508,WebMD,http://www.webmd.com/,1996,New York,NY,"1,001-5,000",Public,Healthcare,NaN,0,0,0,0,0,0
509,Weight Watchers,http://www.weightwatchers.com/,1960,Jericho,NY,"10,001+",Public,Lifestyle & Consumer,NaN,0,0,0,0,0,0
512,Whitby Group,http://www.whitbygroup.com,2001,Ithaca,NY,11-50,Private,Research & Consulting,NaN,0,0,0,0,0,0
513,Wolfram Research,http://www.wolfram.com/,1987,Champaign,IL,"501-1,000",Private,Data/Technology,NaN,0,0,0,0,0,0
514,Wolters Kluwer,http://www.wolterskluwer.com/,1836,Minneapolis,MN,"10,001+",Public,Business & Legal Services,NaN,0,0,0,0,0,0
516,Xatori,http://www.xatori.com/,2010,Menlo Park,CA,1-10,Private,Energy,NaN,0,0,0,0,0,0
520,Yahoo,http://www.yahoo.com/,1994,Sunnyvale,CA,"10,001+",Public,Lifestyle & Consumer,NaN,0,0,0,0,0,0
522,Yelp,http://www.yelp.com/,2004,San Francisco,CA,"1,001-5,000",Public,Lifestyle & Consumer,NaN,0,0,0,0,0,0
524,Zillow,http://www.zillow.com/,2006,Seattle,WA,"1,001-5,000",Public,Housing/Real Estate,NaN,0,0,0,0,0,0
525,ZocDoc,http://www.zocdoc.com/,2007,New York,NY,"501-1,000",Private,Healthcare,NaN,0,0,0,0,0,0
528,Zurich Insurance (Risk Room),http://www.zurichna.com/,1912,Schaumburg,IL,"10,001+",Public,Insurance,NaN,0,0,0,0,0,0

In [799]:
bmIndex = df[df['business_model'].isnull()].index

In [800]:
df.drop(index = bmIndex, axis = 0, inplace = True)

In [801]:
df['business_model'].isnull().sum()

0

# Checking the shape of the dataframe after handling all missing or wrong values

In [802]:
df.shape

(441, 15)

In [803]:
df.isnull().any()

0
company_name        False
url                 False
year_founded        False
city                False
state               False
size                False
company_type        False
company_category    False
business_model      False
b2b                 False
b2c                 False
b2g                 False
b2n                 False
academia            False
nonprofit           False
dtype: bool

### dropping columns we don't need anymore

In [804]:
df.columns

Index(['company_name', 'url', 'year_founded', 'city', 'state', 'size',
       'company_type', 'company_category', 'business_model', 'b2b', 'b2c',
       'b2g', 'b2n', 'academia', 'nonprofit'],
      dtype='object', name=0)

In [805]:
# we drop business model because we split it into different columns
df.drop(columns = ['url', 'business_model'], axis = 1, inplace = True)

In [806]:
df.columns

Index(['company_name', 'year_founded', 'city', 'state', 'size', 'company_type',
       'company_category', 'b2b', 'b2c', 'b2g', 'b2n', 'academia',
       'nonprofit'],
      dtype='object', name=0)

In [807]:
df.shape

(441, 13)

In [808]:
# resetting the index for each row
# Use reset_index()
df.reset_index(drop = True, inplace = True)
df.head()

,company_name,year_founded,city,state,size,company_type,company_category,b2b,b2c,b2g,b2n,academia,nonprofit
0,"3 Round Stones, Inc.",2010,Washington,DC,1-10,Private,Data/Technology,1,1,0,0,0,0
1,48 Factoring Inc.,2014,Philadelphia,PA,51-200,Private,Finance & Investment,1,0,0,0,0,0
2,5PSolutions,2007,Fairfax,VA,1-10,Private,Data/Technology,1,1,1,0,0,0
3,Accela,1999,San Ramon,CA,"501-1,000",Private,Governance,0,1,0,0,0,0
4,Accenture,1989,Chicago,IL,"10,001+",Public,Research & Consulting,1,0,0,0,0,0

In [809]:

for col in df.columns:
    print('Column name:', col)
    print(df[col].value_counts())
    print()
    print()

Column name: company_name
BaleFire Global                            1
The Bridgespan Group                       1
SigFig                                     1
Lending Club                               1
OpenGov                                    1
SeeClickFix                                1
CityScan                                   1
The Schork Report                          1
LOGIXDATA, LLC                             1
Atlas Van Lines                            1
AccuWeather                                1
Aureus Sciences (*Now part of Elsevier)    1
Cambridge Information Group                1
Factual                                    1
Persint                                    1
Gallup                                     1
HealthPocket, Inc.                         1
OnDeck                                     1
HelloWallet                                1
MapQuest                                   1
SpeSo Health                               1
HealthMap                                  1
FarmLogs                                   1
SpaceCurve                                 1
STILLWATER SUPERCOMPUTING INC              1
Stevens Worldwide Van Lines                1
Scale Unlimited                            1
NonprofitMetrics                           1
Charles Schwab Corp.                       1
GuideStar                                  1
                                          ..
Bridgewater                                1
GoodGuide                                  1
AllState Insurance Group                   1
Expert Health Data Programming, Inc.       1
LOVELAND Technologies                      1
LegiNation, Inc.                           1
Development Seed                           1
The DocGraph Journal                       1
RedLaser                                   1
Forrester Research                         1
Merrill Corp.                              1
Deloitte                                   1
Oversight Systems                          1
Unigo LLC                                  1
Knoema                                     1
AutoGrid Systems                           1
LoopNet                                    1
Orlin Research                             1
Asset4                                     1
Microsoft Windows Azure Marketplace        1
Propeller Health                           1
Connotate                                  1
IW Financial                               1
Weather Decision Technologies              1
AtSite                                     1
DemystData                                 1
Think Computer Corporation                 1
Social Explorer                            1
FindTheBest.com                            1
DataWeave                                  1
Name: company_name, Length: 441, dtype: int64


Column name: year_founded
2010    43
2011    42
2012    35
2009    28
2007    26
2013    25
2008    22
2006    19
2000    16
2005    15
2004    12
2003     9
1999     9
2001     8
1998     8
2002     5
1987     5
2014     5
1993     5
1995     5
1984     4
1997     4
1989     3
1969     3
1980     3
1978     3
1996     3
1990     2
1983     2
1976     2
        ..
1948     1
1936     1
1891     1
1962     1
1899     1
1900     1
1812     1
1880     1
1963     1
1961     1
1954     1
2015     1
1901     1
1914     1
1966     1
1965     1
1912     1
1933     1
1950     1
1975     1
1951     1
1971     1
1982     1
1799     1
1953     1
1955     1
1981     1
1913     1
1905     1
1931     1
Name: year_founded, Length: 86, dtype: int64


Column name: city
New York                78
San Francisco           37
Boston                  21
Washington              20
Chicago                 14
Seattle                 12
Mountain View            8
Palo Alto                8
Cambridge                6
Menlo Park               6
Austin                   6
Atlanta                  5
Denver                   5
Philadelphia             5
Baltimore                4
Redwood City             4
Sunnyvale                4
Houston                  4
Los Angeles              3
Santa Monica             3
Indianapolis             3
Oakland                  3
Portland                 3
Bellevue                 3
San Mateo                3
Berkeley                 3
Madison                  3
San Jose                 3
Arlington                2
Boulder                  2
                        ..
Haymarket                1
Tempe                    1
El Dorado Hills          1
Fort Wayne               1
Vienna                   1
Knoxville                1
Somerset                 1
Millbrae                 1
Detroit                  1
Jersey City              1
St. Paul                 1
Tampa                    1
Paramus                  1
Broadview                1
Santa Cruz               1
Melville                 1
Germantown               1
Cincinnati               1
Maryland Heights         1
Lyndhurst                1
Pasadena                 1
Parsippany               1
North Kansas City        1
White River Junction     1
Redmond                  1
Phoenix                  1
Bridgewater              1
El Segundo               1
Amherst                  1
Fishers                  1
Name: city, Length: 175, dtype: int64


Column name: state
CA    114
NY     81
MA     36
DC     20
VA     19
WA     19
IL     19
TX     16
NJ     12
MD     11
PA     10
CO     10
CT      7
MO      6
IN      6
OH      6
GA      6
MI      5
NC      5
FL      5
WI      4
TN      3
AZ      3
UT      2
ME      2
OR      2
MN      2
NV      1
AR      1
AL      1
KA      1
MT      1
VT      1
KY      1
RI      1
NH      1
OK      1
Name: state, dtype: int64


Column name: size
1-10            134
11-50           112
51-200           91
10,001+          40
201-500          24
1,001-5,000      15
5,001-10,000     14
501-1,000        11
Name: size, dtype: int64


Column name: company_type
Private      354
Public        65
Nonprofit     13
Other          9
Name: company_type, dtype: int64


Column name: company_category
Data/Technology              83
Finance & Investment         64
Governance                   39
Business & Legal Services    35
Healthcare                   34
Energy                       24
Transportation               24
Geospatial/Mapping           23
Research & Consulting        23
Lifestyle & Consumer         18
Housing/Real Estate          18
Education                    16
Scientific Research          15
Environment & Weather        10
Insurance                     8
Food & Agriculture            5
Media                         1
Aerospace and Defense         1
Name: company_category, dtype: int64


Column name: b2b
1    302
0    139
Name: b2b, dtype: int64


Column name: b2c
0    238
1    203
Name: b2c, dtype: int64


Column name: b2g
0    354
1     87
Name: b2g, dtype: int64


Column name: b2n
0    440
1      1
Name: b2n, dtype: int64


Column name: academia
0    430
1     11
Name: academia, dtype: int64


Column name: nonprofit
0    423
1     18
Name: nonprofit, dtype: int64

In [810]:
# examine data to see if the number of rows is the same for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 13 columns):
company_name        441 non-null object
year_founded        441 non-null object
city                441 non-null object
state               441 non-null object
size                441 non-null object
company_type        441 non-null object
company_category    441 non-null object
b2b                 441 non-null int64
b2c                 441 non-null int64
b2g                 441 non-null int64
b2n                 441 non-null int64
academia            441 non-null int64
nonprofit           441 non-null int64
dtypes: int64(6), object(7)
memory usage: 44.9+ KB

## We plan on adding two more columns: one focused on the revenue each company makes and the other on the amount of funding/budget private companies have. We will be using webcrawling tools to try to retrieve that information for each company.

# Project part 3

## Unfortunately webcrawling was harder than expected, so we manually added the revenue (in millions) column and for some company a 'money_raised' column just in case we need it to answer some future questions.

In [811]:
datafnRevenue = 'RevenueFundsFinal.csv'

dfRevenue = pd.read_csv(datafnRevenue, na_values = ['?'], header = None)

# check first five rows of the dataset
dfRevenue.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,company_name,year_founded,city,state,size,company_type,company_category,b2b,b2c,b2g,b2n,academia,nonprofit,money_raised,revenue
1,0.0,"3 Round Stones, Inc.",2010,Washington,DC,10-Jan,Private,Data/Technology,1,1,0,0,0,0,NaN,NaN
2,1.0,48 Factoring Inc.,2014,Philadelphia,PA,51-200,Private,Finance & Investment,1,0,0,0,0,0,NaN,0.5
3,2.0,5PSolutions,2007,Fairfax,VA,10-Jan,Private,Data/Technology,1,1,1,0,0,0,NaN,0.5
4,3.0,Accela,1999,San Ramon,CA,"501-1,000",Private,Governance,0,1,0,0,0,0,NaN,80

In [812]:
# setting the elements in the first row as column names
dfRevenue.columns = dfRevenue.iloc[0]

# dropping the first row since now we have the correct column names
dfRevenue.drop(axis = 0, index = 0, inplace = True)
dfRevenue.reset_index(drop = True, inplace = True)
dfRevenue.head()
# check first five rows
dfRevenue.head()

,nan,company_name,year_founded,city,state,size,company_type,company_category,b2b,b2c,b2g,b2n,academia,nonprofit,money_raised,revenue
0,0.0,"3 Round Stones, Inc.",2010,Washington,DC,10-Jan,Private,Data/Technology,1,1,0,0,0,0,NaN,NaN
1,1.0,48 Factoring Inc.,2014,Philadelphia,PA,51-200,Private,Finance & Investment,1,0,0,0,0,0,NaN,0.5
2,2.0,5PSolutions,2007,Fairfax,VA,10-Jan,Private,Data/Technology,1,1,1,0,0,0,NaN,0.5
3,3.0,Accela,1999,San Ramon,CA,"501-1,000",Private,Governance,0,1,0,0,0,0,NaN,80
4,4.0,Accenture,1989,Chicago,IL,"10,001+",Public,Research & Consulting,1,0,0,0,0,0,NaN,39600

In [813]:
dfRevenue = dfRevenue.loc[:,'money_raised':'revenue']

In [814]:
df[dfRevenue.columns] = dfRevenue
df.head()

,company_name,year_founded,city,state,size,company_type,company_category,b2b,b2c,b2g,b2n,academia,nonprofit,money_raised,revenue
0,"3 Round Stones, Inc.",2010,Washington,DC,1-10,Private,Data/Technology,1,1,0,0,0,0,NaN,NaN
1,48 Factoring Inc.,2014,Philadelphia,PA,51-200,Private,Finance & Investment,1,0,0,0,0,0,NaN,0.5
2,5PSolutions,2007,Fairfax,VA,1-10,Private,Data/Technology,1,1,1,0,0,0,NaN,0.5
3,Accela,1999,San Ramon,CA,"501-1,000",Private,Governance,0,1,0,0,0,0,NaN,80
4,Accenture,1989,Chicago,IL,"10,001+",Public,Research & Consulting,1,0,0,0,0,0,NaN,39600

In [815]:
# companies that don't have revenue values will be dropped
df.loc[(df['revenue'].isnull())].index
revenuesDrop = df.loc[(df['revenue'].isnull())].index
revenuesDrop

Int64Index([  0,   7,   8,  25,  51,  93,  97, 101, 138, 159, 170, 174, 177,
            241, 280, 313, 315, 318, 323, 329, 334, 350, 355, 366, 397, 401,
            407, 411, 418, 419, 425, 426, 430, 432, 433, 438, 439, 440],
           dtype='int64')

In [816]:
df.drop(index = revenuesDrop, axis = 0, inplace = True)
df.loc[(df['revenue'].isnull())]
dfRevenue.reset_index(drop = True, inplace = True)
df.reset_index(drop = True, inplace = True)

## Transforming categorical data into numerical data

In [817]:
# Size column

In [818]:
val_table = []
for value in df['size']:
    vals = value.split('-')
    for v in range(len(vals)):
        vals[v] = int(vals[v].strip("+").replace(",", ""))
    val_table.append(vals)

In [819]:
count = 0
for v in val_table:
    if len(v) == 1:
        val_table[count] = v[0]
    else:
        val_table[count] = int(np.median([v[0], v[1]]))
    count+=1

df['size'] = val_table

In [820]:
df.head()

,company_name,year_founded,city,state,size,company_type,company_category,b2b,b2c,b2g,b2n,academia,nonprofit,money_raised,revenue
0,48 Factoring Inc.,2014,Philadelphia,PA,125,Private,Finance & Investment,1,0,0,0,0,0,NaN,0.5
1,5PSolutions,2007,Fairfax,VA,5,Private,Data/Technology,1,1,1,0,0,0,NaN,0.5
2,Accela,1999,San Ramon,CA,750,Private,Governance,0,1,0,0,0,0,NaN,80
3,Accenture,1989,Chicago,IL,10001,Public,Research & Consulting,1,0,0,0,0,0,NaN,39600
4,AccuWeather,1962,State College,PA,350,Private,Environment & Weather,1,1,1,0,0,0,NaN,58.77

In [821]:
# Companies to encode
catColumns = ['state', 'company_type', 'company_category']

In [822]:
for col in catColumns:
    print(df[col].unique())

['PA' 'VA' 'CA' 'IL' 'AR' 'NY' 'MA' 'IN' 'DC' 'RI' 'TX' 'WA' 'NC' 'WI'
 'GA' 'CT' 'TN' 'MO' 'OH' 'NJ' 'CO' 'MD' 'MI' 'UT' 'FL' 'OR' 'KA' 'MT'
 'AZ' 'ME' 'VT' 'MN' 'AL' 'NV' 'OK']
['Private' 'Public' 'Other' 'Nonprofit']
['Finance & Investment' 'Data/Technology' 'Governance'
 'Research & Consulting' 'Environment & Weather' 'Healthcare'
 'Lifestyle & Consumer' 'Transportation' 'Insurance' 'Education' 'Energy'
 'Business & Legal Services' 'Scientific Research' 'Geospatial/Mapping'
 'Housing/Real Estate' 'Food & Agriculture' 'Media'
 'Aerospace and Defense']

In [823]:
dfEncoded = df.copy()
from sklearn.preprocessing import LabelEncoder
labelEnc = LabelEncoder()

for column in catColumns :
    dfEncoded[column] = labelEnc.fit_transform(dfEncoded[column])
dfEncoded.head()

,company_name,year_founded,city,state,size,company_type,company_category,b2b,b2c,b2g,b2n,academia,nonprofit,money_raised,revenue
0,48 Factoring Inc.,2014,Philadelphia,26,125,2,6,1,0,0,0,0,0,NaN,0.5
1,5PSolutions,2007,Fairfax,31,5,2,2,1,1,1,0,0,0,NaN,0.5
2,Accela,1999,San Ramon,3,750,2,9,0,1,0,0,0,0,NaN,80
3,Accenture,1989,Chicago,9,10001,3,15,1,0,0,0,0,0,NaN,39600
4,AccuWeather,1962,State College,26,350,2,5,1,1,1,0,0,0,NaN,58.77

In [824]:
df.head()

,company_name,year_founded,city,state,size,company_type,company_category,b2b,b2c,b2g,b2n,academia,nonprofit,money_raised,revenue
0,48 Factoring Inc.,2014,Philadelphia,PA,125,Private,Finance & Investment,1,0,0,0,0,0,NaN,0.5
1,5PSolutions,2007,Fairfax,VA,5,Private,Data/Technology,1,1,1,0,0,0,NaN,0.5
2,Accela,1999,San Ramon,CA,750,Private,Governance,0,1,0,0,0,0,NaN,80
3,Accenture,1989,Chicago,IL,10001,Public,Research & Consulting,1,0,0,0,0,0,NaN,39600
4,AccuWeather,1962,State College,PA,350,Private,Environment & Weather,1,1,1,0,0,0,NaN,58.77

In [825]:
dfEncoded[dfEncoded['state'] == 0]

,company_name,year_founded,city,state,size,company_type,company_category,b2b,b2c,b2g,b2n,academia,nonprofit,money_raised,revenue
304,PlaceILive.com,2012,Vilnius,0,5,2,11,1,1,0,0,0,0,4.8,4.1

In [826]:
df[df['state'] == 'AL']

,company_name,year_founded,city,state,size,company_type,company_category,b2b,b2c,b2g,b2n,academia,nonprofit,money_raised,revenue
304,PlaceILive.com,2012,Vilnius,AL,5,Private,Housing/Real Estate,1,1,0,0,0,0,4.8,4.1

In [827]:
# making all revenues integers
df['revenue'] = df['revenue'].astype(float)
df['revenue'] = df['revenue'].apply(np.ceil) 
dfEncoded['revenue'] = dfEncoded['revenue'].astype(float)
dfEncoded['revenue'] = dfEncoded['revenue'].apply(np.ceil)

## Creating age of company column to use later for degree of success

In [828]:
df

,company_name,year_founded,city,state,size,company_type,company_category,b2b,b2c,b2g,b2n,academia,nonprofit,money_raised,revenue
0,48 Factoring Inc.,2014,Philadelphia,PA,125,Private,Finance & Investment,1,0,0,0,0,0,NaN,1.0
1,5PSolutions,2007,Fairfax,VA,5,Private,Data/Technology,1,1,1,0,0,0,NaN,1.0
2,Accela,1999,San Ramon,CA,750,Private,Governance,0,1,0,0,0,0,NaN,80.0
3,Accenture,1989,Chicago,IL,10001,Public,Research & Consulting,1,0,0,0,0,0,NaN,39600.0
4,AccuWeather,1962,State College,PA,350,Private,Environment & Weather,1,1,1,0,0,0,NaN,59.0
5,Acxiom,1969,Little Rock,AR,7500,Public,Data/Technology,1,0,0,0,0,0,NaN,918.0
6,Aidin,2011,New York,NY,5,Private,Healthcare,1,1,0,0,0,0,0.62,1.0
7,Alarm.com,2000,Leesburg Pike Vienna,VA,350,Private,Lifestyle & Consumer,0,1,0,0,0,0,163,339.0
8,Allianz,1896,New York,NY,10001,Public,Finance & Investment,0,1,0,0,0,0,NaN,151400.0
9,Allied Van Lines,1928,Oakbrook Terrace,IL,7500,Private,Transportation,1,1,1,0,0,0,NaN,10.0
10,AllState Insurance Group,1931,Northbrook,IL,10001,Public,Insurance,0,1,0,0,0,0,NaN,38524.0
11,Alltuition,2009,Chicago,IL,5,Private,Education,0,1,0,0,0,0,4,1.0
12,Altova,1992,Beverly,MA,125,Private,Data/Technology,1,0,0,0,0,0,NaN,4.0
13,American Red Ball Movers,1919,Indianapolis,IN,30,Private,Transportation,1,1,0,0,0,0,NaN,8.0
14,Amida Technology Solutions,2013,Washington,DC,5,Private,Healthcare,1,1,0,0,0,0,NaN,5.0
15,Analytica,2007,Washington,DC,30,Private,Data/Technology,1,0,1,0,0,0,1.2,7.0
16,Apextech LLC,2003,Arlington,VA,30,Private,Data/Technology,0,0,1,0,0,0,NaN,3.0
17,Appallicious,2010,San Francisco,CA,30,Private,Data/Technology,0,0,1,0,0,0,NaN,3.0
18,Aquicore,2010,Washington,DC,5,Private,Energy,1,0,0,0,0,0,11.7,3.0
19,Archimedes Inc.,2006,San Francisco,CA,30,Private,Healthcare,1,0,1,0,1,0,NaN,13.0
20,Arpin Van Lines,1900,West Warwick,RI,350,Private,Transportation,1,1,1,0,0,0,NaN,2.0
21,ASC Partners,2010,Boston,MA,5,Other,Business & Legal Services,1,0,0,0,0,0,NaN,11.0
22,Atlas Van Lines,1948,Evansville,IN,350,Private,Transportation,1,1,0,0,0,0,NaN,8.0
23,AtSite,1993,Washington,DC,125,Private,Research & Consulting,1,0,0,0,0,0,NaN,8.0
24,"Aunt Bertha, Inc.",2010,Austin,TX,30,Private,Governance,0,1,0,0,0,0,6,16.0
25,Aureus Sciences (*Now part of Elsevier),2000,Philadelphia,PA,30,Private,Scientific Research,1,0,0,0,0,0,73.8,4.0
26,AutoGrid Systems,2011,Redwood Shores,CA,30,Private,Energy,1,1,1,0,0,0,340.9,95.0
27,Avalara,2004,Bainbridge Island,WA,750,Private,Finance & Investment,0,1,0,0,0,0,132,5.0
28,Avvo,2006,Seattle,WA,125,Private,Business & Legal Services,0,1,0,0,0,0,106.3,10.0
29,Ayasdi,2008,Menlo Park,CA,125,Private,Data/Technology,1,0,0,0,0,0,NaN,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Symcat,2011,Baltimore,MD,5,Private,Healthcare,0,1,0,0,0,0,NaN,3.0
374,Synthicity,2012,Berkely,CA,5,Private,Housing/Real Estate,1,0,1,0,0,0,141,20.0
375,TagniFi,2012,Tampa,FL,5,Private,Finance & Investment,1,0,0,0,0,0,NaN,8.0
376,The Bridgespan Group,1973,Boston,MA,125,Private,Research & Consulting,0,0,1,0,0,1,NaN,24.0
377,The DocGraph Journal,2013,Houston,TX,5,Private,Healthcare,0,1,0,0,0,0,NaN,32.0
378,The Schork Report,2005,Villanova,PA,5,Private,Energy,1,0,0,0,0,0,1,3.0
379,Think Computer Corporation,1998,Mountain View,CA,5,Private,Business & Legal Services,1,0,0,0,0,0,11.3,8.0
380,Thinknum,2013,New York,NY,5,Private,Finance & Investment,0,1,0,0,0,0,NaN,10.0
381,TowerData,2006,San Francisco,CA,30,Private,Data/Technology,1,0,0,0,0,0,NaN,9.0
382,TransparaGov,2011,Washington,DC,30,Private,Governance,0,1,1,0,0,0,NaN,32.0
383,TrialX,2007,New York,NY,5,Private,Healthcare,1,1,0,0,0,1,340,323.0
384,TrueCar,2005,Santa Monica,CA,350,Private,Transportation,0,1,0,0,0,0,0.43,1.0
385,TrustedID,2005,Palo Alto,CA,125,Private,Lifestyle & Consumer,1,1,0,0,0,0,3.2,3.0
386,TuvaLabs,2012,New York,NY,5,Private,Education,1,1,1,0,0,0,NaN,2.0
387,Unigo LLC,2008,New York,NY,30,Private,Education,0,1,0,0,0,0,0.1,8.0
388,United Mayflower,2006,St. Louis,MO,5,Private,Transportation,1,1,0,0,0,0,0.4,3.0
389,Urban Airship,2009,Portland,OR,125,Private,Business & Legal Services,1,0,0,0,0,0,NaN,10.0
390,"VisualDoD, LLC",2012,Reston,VA,5,Private,Aerospace and Defense,1,0,1,0,0,0,NaN,30.0
391,Vital Axiom | Niinja,2012,Chicago,IL,5,Private,Data/Technology,1,0,1,0,0,0,86.3,25.0
392,VitalChek,1987,Brentwood,TN,125,Public,Governance,0,1,0,0,0,0,NaN,2.0
393,Vitals,2007,Lyndhurst,NJ,125,Private,Healthcare,1,1,0,0,0,0,2,7.0
394,Vizzuality,2011,New York,NY,5,Private,Geospatial/Mapping,1,1,1,0,1,0,13.4,4.0
395,WattzOn,2008,Mountain View,CA,30,Private,Energy,1,1,0,0,0,0,NaN,12.0
396,Way Better Patents,2012,Oakton,VA,5,Private,Business & Legal Services,1,1,0,0,0,0,NaN,1.0
397,Weather Decision Technologies,1999,Norman,OK,125,Private,Environment & Weather,1,0,0,0,0,0,NaN,1.0
398,Webitects,1998,Chicago,IL,30,Private,Data/Technology,0,0,1,0,0,1,NaN,91.0
399,Xcential,2003,Encinitas,CA,5,Private,Governance,0,0,1,0,0,0,NaN,3.0
400,xDayta,2013,Phoenix,AZ,5,Private,Data/Technology,0,1,0,0,0,0,NaN,1.0
401,Xignite,2000,San Mateo,CA,125,Private,Finance & Investment,1,0,0,0,0,0,NaN,10.0
402,Zebu Compliance Solutions,1999,Portsmouth,OH,30,Private,Healthcare,1,0,1,0,0,0,NaN,7.0

In [829]:


df['age'] = 2017 - df['year_founded'].astype(int)
df.head()
dfEncoded['age'] = 2017 - dfEncoded['year_founded'].astype(int)

In [830]:
dfEncoded

,company_name,year_founded,city,state,size,company_type,company_category,b2b,b2c,b2g,b2n,academia,nonprofit,money_raised,revenue,age
0,48 Factoring Inc.,2014,Philadelphia,26,125,2,6,1,0,0,0,0,0,NaN,1.0,3
1,5PSolutions,2007,Fairfax,31,5,2,2,1,1,1,0,0,0,NaN,1.0,10
2,Accela,1999,San Ramon,3,750,2,9,0,1,0,0,0,0,NaN,80.0,18
3,Accenture,1989,Chicago,9,10001,3,15,1,0,0,0,0,0,NaN,39600.0,28
4,AccuWeather,1962,State College,26,350,2,5,1,1,1,0,0,0,NaN,59.0,55
5,Acxiom,1969,Little Rock,1,7500,3,2,1,0,0,0,0,0,NaN,918.0,48
6,Aidin,2011,New York,22,5,2,10,1,1,0,0,0,0,0.62,1.0,6
7,Alarm.com,2000,Leesburg Pike Vienna,31,350,2,13,0,1,0,0,0,0,163,339.0,17
8,Allianz,1896,New York,22,10001,3,6,0,1,0,0,0,0,NaN,151400.0,121
9,Allied Van Lines,1928,Oakbrook Terrace,9,7500,2,17,1,1,1,0,0,0,NaN,10.0,89
10,AllState Insurance Group,1931,Northbrook,9,10001,3,12,0,1,0,0,0,0,NaN,38524.0,86
11,Alltuition,2009,Chicago,9,5,2,3,0,1,0,0,0,0,4,1.0,8
12,Altova,1992,Beverly,12,125,2,2,1,0,0,0,0,0,NaN,4.0,25
13,American Red Ball Movers,1919,Indianapolis,10,30,2,17,1,1,0,0,0,0,NaN,8.0,98
14,Amida Technology Solutions,2013,Washington,6,5,2,10,1,1,0,0,0,0,NaN,5.0,4
15,Analytica,2007,Washington,6,30,2,2,1,0,1,0,0,0,1.2,7.0,10
16,Apextech LLC,2003,Arlington,31,30,2,2,0,0,1,0,0,0,NaN,3.0,14
17,Appallicious,2010,San Francisco,3,30,2,2,0,0,1,0,0,0,NaN,3.0,7
18,Aquicore,2010,Washington,6,5,2,4,1,0,0,0,0,0,11.7,3.0,7
19,Archimedes Inc.,2006,San Francisco,3,30,2,10,1,0,1,0,1,0,NaN,13.0,11
20,Arpin Van Lines,1900,West Warwick,27,350,2,17,1,1,1,0,0,0,NaN,2.0,117
21,ASC Partners,2010,Boston,12,5,1,1,1,0,0,0,0,0,NaN,11.0,7
22,Atlas Van Lines,1948,Evansville,10,350,2,17,1,1,0,0,0,0,NaN,8.0,69
23,AtSite,1993,Washington,6,125,2,15,1,0,0,0,0,0,NaN,8.0,24
24,"Aunt Bertha, Inc.",2010,Austin,29,30,2,9,0,1,0,0,0,0,6,16.0,7
25,Aureus Sciences (*Now part of Elsevier),2000,Philadelphia,26,30,2,16,1,0,0,0,0,0,73.8,4.0,17
26,AutoGrid Systems,2011,Redwood Shores,3,30,2,4,1,1,1,0,0,0,340.9,95.0,6
27,Avalara,2004,Bainbridge Island,33,750,2,6,0,1,0,0,0,0,132,5.0,13
28,Avvo,2006,Seattle,33,125,2,1,0,1,0,0,0,0,106.3,10.0,11
29,Ayasdi,2008,Menlo Park,3,125,2,2,1,0,0,0,0,0,NaN,12.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Symcat,2011,Baltimore,13,5,2,10,0,1,0,0,0,0,NaN,3.0,6
374,Synthicity,2012,Berkely,3,5,2,11,1,0,1,0,0,0,141,20.0,5
375,TagniFi,2012,Tampa,7,5,2,6,1,0,0,0,0,0,NaN,8.0,5
376,The Bridgespan Group,1973,Boston,12,125,2,15,0,0,1,0,0,1,NaN,24.0,44
377,The DocGraph Journal,2013,Houston,29,5,2,10,0,1,0,0,0,0,NaN,32.0,4
378,The Schork Report,2005,Villanova,26,5,2,4,1,0,0,0,0,0,1,3.0,12
379,Think Computer Corporation,1998,Mountain View,3,5,2,1,1,0,0,0,0,0,11.3,8.0,19
380,Thinknum,2013,New York,22,5,2,6,0,1,0,0,0,0,NaN,10.0,4
381,TowerData,2006,San Francisco,3,30,2,2,1,0,0,0,0,0,NaN,9.0,11
382,TransparaGov,2011,Washington,6,30,2,9,0,1,1,0,0,0,NaN,32.0,6
383,TrialX,2007,New York,22,5,2,10,1,1,0,0,0,1,340,323.0,10
384,TrueCar,2005,Santa Monica,3,350,2,17,0,1,0,0,0,0,0.43,1.0,12
385,TrustedID,2005,Palo Alto,3,125,2,13,1,1,0,0,0,0,3.2,3.0,12
386,TuvaLabs,2012,New York,22,5,2,3,1,1,1,0,0,0,NaN,2.0,5
387,Unigo LLC,2008,New York,22,30,2,3,0,1,0,0,0,0,0.1,8.0,9
388,United Mayflower,2006,St. Louis,17,5,2,17,1,1,0,0,0,0,0.4,3.0,11
389,Urban Airship,2009,Portland,25,125,2,1,1,0,0,0,0,0,NaN,10.0,8
390,"VisualDoD, LLC",2012,Reston,31,5,2,0,1,0,1,0,0,0,NaN,30.0,5
391,Vital Axiom | Niinja,2012,Chicago,9,5,2,2,1,0,1,0,0,0,86.3,25.0,5
392,VitalChek,1987,Brentwood,28,125,3,9,0,1,0,0,0,0,NaN,2.0,30
393,Vitals,2007,Lyndhurst,20,125,2,10,1,1,0,0,0,0,2,7.0,10
394,Vizzuality,2011,New York,22,5,2,8,1,1,1,0,1,0,13.4,4.0,6
395,WattzOn,2008,Mountain View,3,30,2,4,1,1,0,0,0,0,NaN,12.0,9
396,Way Better Patents,2012,Oakton,31,5,2,1,1,1,0,0,0,0,NaN,1.0,5
397,Weather Decision Technologies,1999,Norman,24,125,2,5,1,0,0,0,0,0,NaN,1.0,18
398,Webitects,1998,Chicago,9,30,2,2,0,0,1,0,0,1,NaN,91.0,19
399,Xcential,2003,Encinitas,3,5,2,9,0,0,1,0,0,0,NaN,3.0,14
400,xDayta,2013,Phoenix,2,5,2,2,0,1,0,0,0,0,NaN,1.0,4
401,Xignite,2000,San Mateo,3,125,2,6,1,0,0,0,0,0,NaN,10.0,17
402,Zebu Compliance Solutions,1999,Portsmouth,23,30,2,10,1,0,1,0,0,0,NaN,7.0,18

In [831]:
# exporting dataframe into csv file
df.to_csv('companiesProcessed.csv')
dfEncoded.to_csv('companiesProcessedEncoded.csv')